[2020-12-13 11:26] shivammathur commented on #366
Yes, unless you specify the version for the tool, it will install the latest version.

To install say phive 0.13.5, you can specify the version.
[code]

To setup different versions of phive with different PHP versions, you can use the matrix.

[code]
**Test workflow:** https://github.com/shivammathur/test-setup-php/actions/runs/418759844/workflow

[2020-12-13 11:26] #366 closed

[2020-12-13 11:56] alecpl commented on #365
Thank you. Confirmed working.

[2020-12-13 22:48] BenMorel opened #367 "Support for GEOS extension"
**Describe the feature**

Hi, it would be nice to provide support for the [GEOS](https://github.com/libgeos/php-geos) extension!
Thanks for your consideration.

*(note that this extension is not compatible with PHP 8)*

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

[2020-12-14 11:36] shivammathur commented on #367
Added in https://github.com/shivammathur/setup-php/commit/fd9aae59b05b30e3c6a3c26ffb9dc36c2ed901b8

[2020-12-14 11:36] #367 closed

[2020-12-14 13:29] BenMorel commented on #367
Thanks, a lot!

Just out of curiosity: did you update the `2.9.0` tag? I can see that this tag is 18 days old, but contains the latest commits.
Do you update existing tags instead of tagging new releases?

[2020-12-14 13:47] shivammathur commented on #367
Yes, I updated the `2.9.0` and `v2` tags. Did not want to create a new release as that would trigger a lot of PRs across projects and with GitHub Actions announcing a four day maintenance, many would have been stuck.

[2020-12-14 14:07] BenMorel commented on #367
Makes sense, thanks for your reply!

TIL, I didn't even know you could modify a tag.

[2020-12-16 22:21] timhunt opened #368 "Trying to install a non-existent version of PHP does not give an error"
**Describe the bug**
Action reports success even if the version of PHP you ask for does not exist.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest (Ubuntu 18.04.5)

**PHP versions**
I was trying to use 7.5, which does not currentl

[2020-12-16 23:58] shivammathur commented on #368
Fixed in https://github.com/shivammathur/setup-php/commit/ce02569aea1cd6a8e466c1b108631baca269c4d2

[2020-12-16 23:58] #368 closed

[2020-12-17 07:02] shivammathur opened #369 "PHP 8 is now default on Ubuntu GitHub-hosted environments"
Default PHP version was changed to PHP 8.0 on Ubuntu GitHub-hosted environments.
Now `setup-php` uses the PHP 8.0 from `ppa:ondrej/php` which is pre-installed, instead of builds from `shivammathur/php-builder`.

- If you face any issues with PHP 8 because of this, please report them.

- If you require PHP 7.4 which was the previous default version. It is recommended to use `setup-php` to pin your

[2020-12-17 10:11] timhunt commented on #368
Brilliant! Thank you very much.

[2020-12-17 11:29] Jeckerson opened #370 "xdebug doesn't disables with coverage 'none'"
**Describe the bug**

On docs said:

https://github.com/shivammathur/setup-php#disable-coverage

But `phan/phan` library still say that `xdebug` is enabled
![image](https://user-images.githubusercontent.com/3289702/102482176-b7cf9100-405a-11eb-9f4d-74da18375f16.png)

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**

[2020-12-17 12:17] shivammathur commented on #370
@Jeckerson I was not able to reproduce this. In my testing `Xdebug` is disabled when `coverage: none` is specified.
Please provide a link to the workflow or if private, provide screenshots of the setup-php step, also add a step after setup-php to check PHP version `php -v` and the extensions `php -m`. Provide screenshots of this step also.

[2020-12-17 12:42] shivammathur commented on #354
@bensinclair Now setup-php uses PHP 8 from `ppa:ondrej/php` and just specifying memcached in extensions input would work.
[code]

[2020-12-17 13:34] SimonFrings opened #372 "Jobs fail without coverage specification for Xdebug"
We are currently switching to github actions to check our test suite.
Therefore we're using the same structure in every `ci.yml`, for example:

[code]

As today we are facing failing jobs in all projects using the file above that were fine a day ago. (we didn't change anything)
Message:
[code]
This problem occurs in different PHP versions.
If you take a look at [my jobs](https://github.com/SimonFr

[2020-12-17 13:50] shivammathur commented on #372
@SimonFrings Working on a fix

[2020-12-17 17:43] froemken opened #373 "Section "Setup Tools" is extremely slow and/or throws errors sometimes"
**Describe the bug**
Something weird happens while processing "Setup Tools" section. This process is extremely slow and sometimes it breaks with the message:

[code]

Interesting: I don't have defined any tools:
[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

[2020-12-17 17:49] froemken commented on #373
I'm testing/working with your package since this morning 09:30. That's nearly 10 hours and I'm started your tool again and again. Maybe there are limitations at composer or github servers which reduce my download rate or close my requests.

[2020-12-17 18:01] shivammathur commented on #373
Please use `shivammathur/node` docker images to run `setup-php` with `nektos/act`
https://github.com/shivammathur/setup-php#local-testing-setup.

[code]

[2020-12-17 18:04] froemken commented on #373
In another ticket you told us to use this 18GB image, when we need parallel, git and other tools.

[2020-12-17 18:12] shivammathur commented on #373
Can you point to the ticket. Since I added support for `nektos/act` in `setup-php`, we have only recommended using the images `shivammathur/node` which are built especially for this.

[2020-12-17 18:19] froemken commented on #373
Ok...found it, but it wasn't you. Sorry

https://github.com/nektos/act/issues/107

[2020-12-17 18:21] froemken commented on #373
I have switched back to your recommended ticket. Same problem:

[code]

Nothing happens since 5 minutes.

[2020-12-17 18:33] froemken commented on #373
I have reduced my yaml to this minimal configuration:

[code]

I have stopped and removed the container (not image) with docker stop and docker rm.

Command: `act pull_request -P ubuntu-18.04=shivammathur/node:bionic`

no tests, no matrix, no env vars, nothing.

[code]

I just have requested a new IP address in my FritzBox. But problem still exists.

[2020-12-17 18:38] shivammathur commented on #373
Give me a day, I will check this

[2020-12-17 18:44] froemken commented on #373
I have just updated my MacOS to Big Sur today morning. Version 11.1.

Thank you for your help

[2020-12-17 19:12] froemken commented on #373
Intersting. I have removed all image:

[code]

handshake timeout?!?!

[2020-12-17 19:23] shivammathur commented on #373
Check your docker setup. if you are behind a proxy this can happen, if not try restarting docker.

[2020-12-17 19:41] froemken commented on #373
I do not use a proxy. I have added my credentials to "Docker for Mac". Handshake problem is gone or was only temporary.

I have found a download rate limitation by Docker: https://www.docker.com/increase-rate-limits
I have created a little sh file to check that: https://docs.docker.com/docker-hub/download-rate-limit/

As registered user:
RateLimit-Limit: 200;w=21600
RateLimit-Remaining: 200;w=2160

[2020-12-17 19:42] froemken commented on #373
I have restarted docker 3 times in the last 3 hours.

[2020-12-17 22:09] rodolfoberrios commented on #373
Hey there,

I want to add that I'm also having issues, seems to be related to PHP 8 and some extension packages. I'm getting segfaults on the steps where the action provides PHP pecl extensions. I've able to trigger the issue with `ds`, `imagick`, `swoole`, etc. I tried all your tags.

For now I'm using pecl commands directly to provide those extensions.

[2020-12-18 01:58] shivammathur commented on #373
@rodolfoberrios Please create another issue with specific details and logs.

[2020-12-18 11:55] rodolfoberrios opened #374 "Issues with PHP 8 PECL extensions when running locally"
**Describe the bug**
I'm having issues testing locally on Ubuntu 20.04 with `act -P ubuntu-latest=shivammathur/node:latest` (including other tags)

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
`ubuntu-latest`

**PHP versions**
`8.0`

**To Rep

[2020-12-18 13:26] Jeckerson commented on #370
I set `coverage: none` to incorrect step. All works as documented.

[2020-12-18 13:26] #370 closed

[2020-12-18 16:13] shivammathur commented on #374
@rodolfoberrios I have fixed a couple of bugs in the `shivammathur/node` docker images.
Please check again, `pecl` extensions in `extensions` input should install correctly.

Before you check, pull the image you are using again
[code]

Test yaml

[code]

Logs

[code]

[2020-12-18 17:40] shivammathur commented on #372
@SimonFrings Fixed in https://github.com/shivammathur/setup-php/commit/d74064b67aa67bb28394895630c4b60c1adb2b6e
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/430992136/workflow

[2020-12-18 17:40] #372 closed

[2020-12-18 19:05] ylupien opened #375 "PHP 7.3 and - no more working."
**Describe the bug**
Setup seem to always use latest version of composer. And make it incompatible with some specific PHP version.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v2`.
- [ ] I also tested version 2.7.0, 2.6.0, 2.5.0

**Runners**
- [ ] GitHub Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
7.2

**To Reproduce**
[code]

**E

[2020-12-18 19:12] #375 closed

[2020-12-18 19:13] ylupien commented on #375
Forget it I discover in the documentation that it's possible to specify a specific composer version.

[2020-12-18 19:52] shivammathur commented on #375
@ylupien Yes, use `tools: composer:v1`.

[2020-12-19 09:29] smoqadam opened #376 "Symfony workflow enhancement"
Hi and thanks for this action.

The first time when you run `php bin/phpunit` it tries to install phpunit dependencies which it messes the tests log.

![image](https://user-images.githubusercontent.com/1223848/102686012-aedbec80-421f-11eb-844a-a5875cf0d9b7.png)

to avoid that, we should add `php bin/phpunit install` command to `Install Composer Dependencies` step to install dependencies first then

[2020-12-19 10:48] shivammathur commented on #376
@smoqadam Will you be willing to submit a PR to improve this.

[2020-12-19 12:37] shivammathur commented on #376
Fixed in #377

[2020-12-19 12:37] #376 closed

[2020-12-20 16:31] glensc opened #378 "PHP 7.4 unstable?"
**Describe the bug**

Something changed recently that made PHP 7.4 builds unstable?

Segfaults:
- https://github.com/perftools/xhgui/pull/387/checks?check_run_id=1584843697

Weird pdo_pgsql connect errors:
- https://github.com/perftools/xhgui/runs/1584616273?check_suite_focus=true

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`

[2020-12-20 17:48] shivammathur commented on #378
@glensc Please try the following
- Run your tests with `phpunit --verbose`
- Run `phpunit` directly and not through `composer`.
- Run with `xdebug` disabled, you can specify `coverage: none` in setup-php inputs to do this.
- If you are still getting seg faults, try installing debugging symbols and run `phpunit` with `gdb` locally to get the backtrace.

[code]

[2020-12-20 21:25] glensc commented on #378
@shivammathur but the pipelines worked fine before 2020-12-20, that's why I'm asking has something changed in the packages installed...

[2020-12-20 21:52] shivammathur commented on #378
`Xdebug` is now xdebug3. Try with `extensions: xdebug-2.9.8`.

[2020-12-21 08:45] glensc commented on #378
and today the pgsql errors are gone, same run, no code changes:
- https://github.com/perftools/xhgui/runs/1584514943

so, must have been a temporary issue in Actions GitHub Runners

[2020-12-21 08:45] #378 closed

[2020-12-23 12:50] kabalin opened #384 "Using PHP 7.0.x and getting PHP deprication error specific to 7.4"
Not sure if this is the bug. We are using this action in https://github.com/moodlehq/moodle-plugin-ci project. Somehow same phpunit test started reporting deprication error specific to 7.4 while it is clearly run on 7.0.33, which has been setup using [syntax as follows](https://github.com/moodlehq/moodle-plugin-ci/blob/master/.github/workflows/test.yml#L73:L78):
[code]
Here is example of issue: ht

[2020-12-23 13:07] mfn commented on #384
I think it's actually PHP8 running, see this one here https://github.com/moodlehq/moodle-plugin-ci/pull/61/checks?check_run_id=1600314186#step:8:108

That one was introduced in PHP8 and does not exist in PHP 7.4, according to https://3v4l.org/kAhJt

That would actually make sense (in some way, at least), because PHP 8 was made the default recently for the github action ubuntu images => https://git

[2020-12-23 13:14] mfn commented on #384
Granted, I know now nothing about moodle-plugin-ci :) but is possible be related to this here https://github.com/moodlehq/moodle-plugin-ci/blob/5723b5e09b36515910d8a2f5b52559ff1a05f5ac/src/Command/PHPUnitCommand.php#L102 because it fails at the state "RUN  PHPUnit tests for local_travis"?

[2020-12-23 14:44] kabalin commented on #384
I see, thanks @mfn, so obviously `phpdbg` used from distro rather than this action (for some stupid reason I assumed it is added by default, must have misinterprited [docs](https://github.com/shivammathur/setup-php/blob/master/README.md#disable-coverage)). Will you accept PR to have it added as a tool?

[2020-12-23 15:48] shivammathur commented on #384
@kabalin Currently `setup-php` only supports cli. I'm working on adding support for specifying SAPI like phpdbg, apache, fpm, etc.

Till then, if you switch to `ubuntu-16.04` in your workflow, setup-php will switch to `phpdbg 7.0` which is pre-installed on `ubuntu-16.04`.

[2020-12-23 15:57] kabalin commented on #384
aha, thanks a lot @shivammathur! Ticket can be closed then.

[2020-12-23 15:59] #384 closed

[2020-12-23 16:03] yivi opened #385 "test matrix uses "default" phpunit version, not the one specified for a particular php version"
Running with this:

[code]

I expect the jobs to be run with the latest phpunit version for PHP 7.3, 7.4 and 8.0, and phpunit version 8.5.13 for PHP 7.2

I tried this locally, and it works.

[code]

But when I execute it on Github, I get:

[code]

![CleanShot 2020-12-23 at 17 01 35](https://user-images.githubusercontent.com/1815039/103015355-9120c700-4540-11eb-94f0-d2603464d257.png)

The whole job

[2020-12-23 16:12] shivammathur commented on #385
Specify the `phpunit` version from matrix in `tools` input.
https://github.com/shivammathur/setup-php#matrix-setup

[code]

[2020-12-23 16:12] #385 closed

[2020-12-23 16:14] yivi commented on #385
Oh, silly me. Thanks a lot.

[2020-12-29 08:07] glensc opened #386 "ext-ldap fails to enable on 5.3"
**Describe the bug**

somewhy `ext-ldap` is missing for 5.3 (you need to click on "Setup PHP 5.3" to see output):
- https://github.com/glensc/php-zf1s/runs/1597658212?check_suite_focus=true

[code]

and it's silently failing, i.e config request the extension, and it does not get enabled and job succeeds.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of

[2020-12-30 20:19] shivammathur commented on #386
@glensc
Added in https://github.com/shivammathur/php5-ubuntu/commit/a9a18a5deb34504464110878d1ab0ea10e22d439

As requested in #358, PHP 5.3 build in now open-source in this [workflow](https://github.com/shivammathur/php5-ubuntu/blob/master/.github/workflows/ci.yml).

[2020-12-30 20:19] #386 closed

[2020-12-31 11:12] glensc commented on #386
Thanx. super!

[2021-01-01 13:00] greg0ire opened #387 "PHP 7.3: PHP Warning: Module 'PDO' already loaded in Unknown on line 0"
Happy new year!

**Describe the bug**
The output of the job, and the output of subsequent job contains the warning in the title.
Also, a PHAR compiled on the test machine exits with a non-zero exit status

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating

[2021-01-01 13:18] shivammathur commented on #387
Working on a fix

[2021-01-01 17:54] shivammathur commented on #387
Fixed in https://github.com/shivammathur/setup-php/commit/d667d1c9b0e7150063e1f5794c6b0e8c2eb21d8a

[2021-01-01 17:54] #387 closed

[2021-01-01 19:11] greg0ire commented on #387
Thank you!

[2021-01-05 09:01] nadar opened #388 "PHP Startup: Unable to load dynamic library '/usr/lib/php/20151012/pdo.so'"
**Describe the bug**

Since today (maybe even earlier but it was working at least 7 days ago) we receive the following error:

[code]

See the action: https://github.com/luyadev/luya-module-payment/runs/1648794919. Maybe its related to https://github.com/shivammathur/setup-php/issues/387 but i am not sure about.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch ver

[2021-01-05 11:29] shivammathur commented on #388
Fixed in 7c8e8da

[2021-01-05 11:29] #388 closed

[2021-01-05 11:42] nadar commented on #388
Works again, thanks for fixing the problem that quick! https://github.com/luyadev/luya-module-payment/runs/1649632048

[2021-01-06 18:07] anomiex opened #389 "Breaks actions/setup-node if run after that action"
**Describe the bug**

If this action is run after actions/setup-node, the wrong version of node may be used.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [X] `v2`
- [ ] `v1`

**Runners**

- [X] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

ubuntu-latest

**PHP versions**

7.4, although I don't think it matters.

**To Reprod

[2021-01-06 19:31] shivammathur commented on #389
Fixed in https://github.com/shivammathur/setup-php/commit/4ddd49b7006f4d85e917f50908dbdc657c00c432
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/466965283/workflow

[2021-01-06 19:31] #389 closed

[2021-01-07 14:47] aradhell opened #390 "sonar-cloud path problem"
**Describe the bug**

/entrypoint.sh: line 24: sonar-scanner: command not found

Related topic https://community.sonarsource.com/t/github-action-sonarsource-sonarcloud-github-action-stopped-working/36665
https://github.com/shivammathur/setup-php/commit/4ddd49b7006f4d85e917f50908dbdc657c00c432

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`

[2021-01-07 14:56] shivammathur commented on #390
Working on a fix

[2021-01-07 15:01] Namoshek commented on #390
@shivammathur Thank you for the quick response and your support! It drove me nuts in the morning (after a night of completely unrelated issues with GitHub Actions). 😄

[2021-01-07 16:08] shivammathur commented on #390
@aradhell @Namoshek can you please test with the develop branch. `shivammathur/setup@develop`

[2021-01-07 16:10] Namoshek commented on #390
@shivammathur Absolutely. You can have a look too, if you want: https://github.com/php-mqtt/client/pull/59/checks?check_run_id=1663552606

[2021-01-07 16:35] shivammathur commented on #390
Fixed in https://github.com/shivammathur/setup-php/commit/d2f58713aaf7809d0c4d11e827c9e9dbbc55b34e

[2021-01-07 16:35] #390 closed

[2021-01-09 01:22] sshymko opened #391 "Swoole extension latest installed instead of specified version"
**Describe the bug**
Latest version of the Swoole extension (perhaps any extension?) is installed despite the configured specific version.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
- ubuntu-latest

**PHP versions**
- PHP 7.1, 7.2, 7.3, 7

[2021-01-09 01:38] sshymko commented on #391
@shivammathur,
Has this issue been recently fixed? Could you please point to the respective code change?
The same build now fails on the PHP-Swoole version combinations that used to mismatch the configuration:
https://github.com/upscalesoftware/swoole-reflection/runs/1671940527?check_suite_focus=true

[2021-01-09 01:53] shivammathur commented on #391
@sshymko `PECL` fallbacks to the latest version, if the version you have specified is not available (https://pecl.php.net/package/swoole).

There have been no changes regarding this on setup-php side, maybe swoole removed `4.4.22` version on `PECL`.

I ran your workflow using the `verbose` branch of `setup-php`.
https://github.com/shivammathur/test-setup-php/runs/1672084025?check_suite_focus=true#

[2021-01-09 01:58] sshymko commented on #391
@shivammathur
Thanks for looking into this!
Hm, something must have changed in the PECL fallback mechanism between these two builds:
https://github.com/upscalesoftware/swoole-reflection/runs/1635117608?check_suite_focus=true - fallback to latest
https://github.com/upscalesoftware/swoole-reflection/runs/1671940527?check_suite_focus=true - failure

Great job on maintaining such an essential Action f

[2021-01-09 01:58] #391 closed

[2021-01-09 02:03] shivammathur commented on #391
@sshymko Thanks
The latest version 4.6.0 requires PHP 7.2 and above
https://github.com/shivammathur/test-setup-php/runs/1672120284?check_suite_focus=true#step:3:259

[2021-01-12 05:03] bishopb opened #392 "INI values with embedded commas parsed incorrectly"
**Describe the bug**

XDebug 3 supports an [`xdebug.mode` INI setting][1] whose _values_ may be a comma-separated list: for example, `xdebug.mode=develop,gcstats,coverage`.

However, SPC fails to correctly parse this INI option:

[code]

That's because the [CSVArray method][2] unconditionally splits on a comma, without first understanding that the comma is used in the value itself.

[1]:https://xd

[2021-01-12 08:06] shivammathur commented on #392
@bishopb
I have added a patch (https://github.com/shivammathur/setup-php/commit/c9e1d2ca9cff1c4358170e4a94a6d3cf721700e0) to support quoted csv in `ini-values` input. So now it won't split commas inside quotes.

For example, this would work.
[code]

Before I merge this, can you test this using the develop branch (shivammathur/setup-php@develop)

[2021-01-12 20:00] nivv opened #393 "How to use github secrets with setup-php when installing private packages via Composer"
**Describe the feature**
Add documention to clarify how to use github secrets with private/public keys with Composer

**Version**
- [X] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
I've checked issues on this project, but have not found any solution. #107 seems to be related, maybe it's outdated?

**Describe alternatives**
Using com

[2021-01-12 20:22] shivammathur commented on #393
@nivv
https://github.com/shivammathur/setup-php/discussions/287#discussioncomment-76265
This should work, let me know if it doesn't.

[2021-01-13 02:07] bishopb commented on #392
Confirmed, the patch works as described. Thank you!

[2021-01-13 02:36] shivammathur commented on #392
@bishopb Thanks for testing. Merged and updated `v2`.

[2021-01-13 02:36] #392 closed

[2021-01-13 05:46] nivv commented on #393
@shivammathur that worked nicely, I didn't have to create the `.ssh` dir though. See my complete workflow below:

[code]

[2021-01-13 05:46] #393 closed

[2021-01-14 16:10] keradus opened #394 "PHP 8.0.1"
Hey,

forgive me if I'm asking a silly question, but I'm new to `shivammathur/setup-php`.

How can I configure shivammathur/setup-php to use 8.0.1 ?

I tried like [this](https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/5415/commits/00fa4625f41cc57f5bc9e11b7e38eb7ef0118007) , but it installed 8.0.0 instead

[2021-01-14 20:36] shivammathur commented on #394
Patch versions are truncated in the `php-version` input as GitHub Actions images releases automatically update PHP to the latest versions. It usually takes 1-2 weeks for GitHub Actions to update PHP versions to latest patches in their images.

By default setup-php does not upgrade PHP versions installed on the images as it adds to the runtime, so to always get latest patch releases you can set `up

[2021-01-14 20:36] #394 closed

[2021-01-15 02:01] justanotheranonymoususer opened #395 "Choose only major ver, like 7.x"
As far as I can see, only explicit php version can be chosen, like 7.4.
There's also latest, but it can be of any major version.
It would be nice to be able to say 7.x.

For example, actions/setup-python allows to do this:
`    python-version: '3.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax`
https://github.com/actions/setup-python#usage

[2021-01-15 06:51] smichae commented on #392
@shivammathur This seems to have broken a build where pcov.directory and pcov.exclude are set in ini-values. I've attempted with the escape and without, as well as with single quotes, but nothing seems to work any more - it was working up until a few days ago.
`pcov.exclude=\"~(excluded|regex)~\"`

[2021-01-15 07:04] shivammathur commented on #392
@smichae can you provide the test yaml and workflow. Are quotes required by pcov?

[2021-01-15 07:14] smichae commented on #392
@shivammathur
Here's a sample of what I've been using:
[code]
Yes, I believe the quotes are required for pcov to properly parse the exclude.

And in case it helps, the error I'm getting in the actions readout: /opt/hostedtoolcache/linux.sh: line 343: syntax error near unexpected token `('

[2021-01-15 07:18] shivammathur commented on #392
working on a fix

[2021-01-15 08:44] shivammathur commented on #392
@smichae
Fixed, you do not need to escape the quotes. It will work now.
[code]
Test-workflow: https://github.com/shivammathur/test-setup-php/actions/runs/487480158/workflow

On a side note `memory_limit` is set to `-1` for all configurations by default.

[2021-01-15 09:17] keradus commented on #394
big thanks, appreciating the reason and provided solution. works like a charm indeed!

[2021-01-16 10:02] llaville opened #396 "Cannot install Pecl http extension"
**Describe the bug**

Cannot install pecl `http` extension 3.2.4 (http://pecl.php.net/package/pecl_http)

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [X] `v2`
- [ ] `v1`

**Runners**

- [X] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

Ubuntu 18.04

**PHP versions**

PHP 7.4.13

**To Reproduce**

Workflow is available onlin

[2021-01-16 11:38] shivammathur commented on #396
To install from packages.

specify extensions in this order `raphf, propro, http`

[code]
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/489948004/workflow

To install using PECL:

Install `libcurl4-openssl-dev -y` before running `setup-php` and suffix `pecl_http` with appropriate versions of `PHP 7.4` and `PHP 8.0`.

[code]

Test workflow: https://github.com/shivammath

[2021-01-16 11:38] #396 closed

[2021-01-18 03:45] elazar opened #397 "ENOENT: no such file or directory, open '/opt/hostedtoolcache/linux.sh'"
**Describe the bug**

I'm seeing an error similar to the one described in nektos/act#197; [this comment](https://github.com/nektos/act/issues/197#issuecomment-628223869) implies that the reported problem was addressed in v2. Below I've included a relevant snippet from the full logs, which are also included further down.

[code]

**Version**
- [x] I have checked releases, and the bug exists in the

[2021-01-18 03:52] shivammathur commented on #397
@elazar As you are using `ubuntu-latest` in your workflow, try
[code]

Ref: https://github.com/shivammathur/setup-php#local-testing-setup

[2021-01-18 04:01] elazar commented on #397
@shivammathur Ah, thank you! Sorry, I probably should've noticed that myself.

Once I addressed that, I ran into the error below, but was able to get past it by removing 5.4 from my workflow. Out of curiosity, why is 5.4 not supported when using a self-hosted runner?

[code]

[2021-01-18 04:12] shivammathur commented on #397
Yes, I had disabled PHP 5.5 and lower on self-hosted runners as those versions are potentially insecure.

May be in future, I should look to enable them while using `act` as that runs in docker containers.

[2021-01-18 04:12] #397 closed

[2021-01-19 14:20] Slamdunk opened #398 "PCOV seems not installed on WINDOWS & PHP 8.0.1"
https://github.com/paratestphp/paratest/pull/580/checks?check_run_id=1728163264#step:12:20

It seems to me a regression between 8.0.0 and 8.0.1 since it worked on 8.0.0:

https://github.com/paratestphp/paratest/runs/1638994212

[2021-01-19 15:15] shivammathur commented on #398
Fixed in https://github.com/shivammathur/setup-php/commit/a83d4379b1200b3d0d19ad4fe0d7a440e00749c1

[2021-01-19 15:15] #398 closed

[2021-01-23 09:27] MMLaws7 commented on #369
![CookiePro Knowledge About CookiePro Hosting Options, Locations, and Backup](https://user-images.githubusercontent.com/76396199/105574531-2965c380-5d1a-11eb-9536-02fc8b282c9e.png)

[2021-01-23 20:00] loevgaard opened #400 "Composer require checker reports permission denied"
**Describe the bug**
The composer-require-checker tools reports 'permission denied'

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu latest

**PHP versions**
PHP 7.4

**To Reproduce**
Here is a link: https://github.com/Setono/payum-quick

[2021-01-23 20:08] loevgaard commented on #400
Okay, I was wrong. It works in the newest version. Sorry :(

[2021-01-23 20:08] #400 closed

[2021-01-26 11:57] ThibaultVlacich commented on #369
Setting the PHP version to "8.0" installs PHP 8.0.0, and not 8.0.1 which has been released for a few weeks.

[2021-01-26 12:21] shivammathur commented on #369
@ThibaultVlacich

PHP 8.0 version was updated to 8.0.1 in the pre-releases images yesterday, they will be deployed likely by end of the week.
https://github.com/actions/virtual-environments/releases

By default `setup-php` does not upgrade PHP versions installed on the images as it adds to the workflow run time, so to always get latest patch releases you can set `update` env variable to true.

[co

[2021-01-26 12:22] ThibaultVlacich commented on #369
@shivammathur Yes, sorry for the noise, I found the answer in an other issue in the meantime.

[2021-01-26 13:58] fezfez opened #402 "Cant remove extension"
Hello,

I try to remove extension with ":" prefix but it seem to have no effect

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [x] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

ubuntu-latest

**PHP versions**

7.4

**To Reproduce**
[code]

**Expected behavior**
when running `php -m` bcmath

[2021-01-26 14:23] shivammathur commented on #402
- Please switch to `v2` as removing extensions is not supported in `v1`.
- `extensions` input takes as comma separated string as input, so adds commas between extensions.
https://github.com/shivammathur/setup-php#extensions-optional
- Remove igbinary at the end as other extensions like redis depend on it. So that would avoid warnings.

Test workflow: https://github.com/shivammathur/test-setup-php/

[2021-01-26 14:23] #402 closed

[2021-01-26 14:30] fezfez commented on #402
@shivammathur thanks, now working as expected :)

[2021-01-28 12:31] derickr opened #403 "Set-up with extensions: json, but json_decode still not available"
**Describe the bug**

I'm adding CI for https://github.com/php-geospatial/geospatial and [two of the tests](https://github.com/php-geospatial/geospatial/runs/1783964741?check_suite_focus=true#step:6:7) use `json_decode`. I have added `extensions: json` to the workflow, but it doesn't seem loaded.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or

[2021-01-28 12:49] shivammathur commented on #403
@derickr I ran a test, `json_decode` should be available.
https://github.com/shivammathur/test-setup-php/actions/runs/517978850/workflow

[2021-01-28 13:24] derickr commented on #403
Ugh, turns out that "make test" for PHP runs "php -n" and hence wipes out the INI file that you write. Sorry.

[2021-01-28 13:24] #403 closed

[2021-02-01 23:36] w00fz opened #404 "Composer authentication (Could not authenticate against github.com)"
**Describe the bug**

We are constantly getting the infamous ` "Error: Could not authenticate against github.com"` like appears in https://github.com/shivammathur/setup-php/issues/332

I think the problem is that `composer config global` is being used to authenticate as seen for example in https://github.com/shivammathur/setup-php/blob/develop/src/scripts/common.sh#L197 - However as per documentat

[2021-02-02 00:37] shivammathur commented on #404
@w00fz
The difference between the 2 commands is, by default:
- `composer global config` updates the `composer.json` in `COMPOSER_HOME`. [Reference](https://github.com/composer/composer/blob/master/src/Composer/Command/GlobalCommand.php#L25)
- `composer config --global` updates the `config.json` in `COMPOSER_HOME`. [Reference](https://github.com/composer/composer/blob/master/src/Composer/Command/Co

[2021-02-02 00:54] shivammathur commented on #404
Fixed in https://github.com/shivammathur/setup-php/commit/46fc8a2fd7cba50512858026dc8f0947c8a7a0e8

[2021-02-02 00:54] #404 closed

[2021-02-02 00:58] shivammathur commented on #395
Added in https://github.com/shivammathur/setup-php/commit/fbc8407035054ffdd2d305af6bd038a3367f1405
`5.x`, `7.x` and `8.x` will now setup PHP `5.6`, `7.4` and `8.0` respectively.

[2021-02-02 00:58] #395 closed

[2021-02-02 01:39] w00fz commented on #404
Thank you for the quick fix @shivammathur

[2021-02-04 05:42] jrfnl opened #405 "Ini handling broken when passed via output parameter"
First, let me please thank you for this action! I think it's awesome and very much appreciate all the work on it!

**Describe the bug**
I think this is related to the fix which was committed in response to issue #392.

#### Short version:
Setting ini parameters in a separate step and passing them to the `setup-php` action using `step.stepid.outputs.outputname` no longer works.

#### Long version:

[2021-02-04 08:18] shivammathur commented on #405
@jrfnl
Sorry about this, I missed accounting for error constants. It should not quote them now.
Fixed in https://github.com/shivammathur/setup-php/commit/1686147b24d176ca416781e2af1576dc3ed05ef0

Let me know if the issue is still there.

[2021-02-04 08:21] jrfnl commented on #405
@shivammathur Thanks for this really quick turn-around on the issue! I'll start a build on our default branch now to confirm the fix.

[2021-02-04 08:38] jrfnl commented on #405
The builds are turning green again. Fix confirmed. Thanks so much!

[2021-02-04 08:38] #405 closed

[2021-02-04 11:33] gharlan opened #406 "PHP 7.3: Missing PDO drivers"
**Describe the bug**

In our builds with PHP 7.3, `pdo_mysql` is missing.
Here you can see the output for `php -i | grep pdo`:
- php 7.3 (drivers missing): https://github.com/redaxo/redaxo/pull/4393/checks?check_run_id=1830309908#step:8:1
- php 7.4 (drivers available): https://github.com/redaxo/redaxo/pull/4393/checks?check_run_id=1830309940#step:8:1

**Version**
- [x] I have checked releases, and

[2021-02-04 12:04] shivammathur commented on #406
Please specify extensions you need in extensions input.
[code]

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/537020472/workflow

[2021-02-04 12:04] #406 closed

[2021-02-04 21:44] glensc opened #407 "ext-ldap fails to enable on 5.4/5.5"
**Describe the bug**

Similarly to https://github.com/shivammathur/setup-php/issues/386 but now for 5.4/5.5:

somewhy `ext-ldap` is missing for 5.4/5.5 (you need to click on "Setup PHP 5.x" to see output):
- 5.4: https://github.com/zf1s/zf1/pull/42/checks?check_run_id=1831329804
- 5.5: https://github.com/zf1s/zf1/pull/42/checks?check_run_id=1831329832

[code]

and it's silently failing, i.e config

[2021-02-04 22:19] shivammathur commented on #407
@glensc In my testing, I was unable to reproduce the issue. It should download the `ldap` package from the `dotdeb` repository and install it. Might have been a network issue. Can you try restarting your workflow and see if it fails again.

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/538579409/workflow

[2021-02-04 23:31] glensc commented on #407
@shivammathur how about making failure to set up a required extension to be a fatal error?

[2021-02-04 23:40] shivammathur commented on #407
By default `setup-php` does not end the workflow on tools and extension errors. This is done to allow cross-platform workflows as some extensions and tools only support a particular OS.

You can change that by specifying `fail-fast` to `true`.

[code]

Anyway this issue should not occur again as I have added `ldap` packages for PHP 5.4 and 5.5 in `php5-ubuntu`.

[2021-02-04 23:40] #407 closed

[2021-02-05 03:42] #369 closed

[2021-02-05 07:18] glensc commented on #407
@shivammathur it would be a lot useful if you cross link your changes you make to make things more transparent. for example, in a project you made a commit or merge request, you link to the issue. or if you forgot to do that, report the commit or pull request link to the issue.

[2021-02-05 10:59] shivammathur commented on #407
@glensc
Sorry! missed that in previous comment
https://github.com/shivammathur/php5-ubuntu/commit/f87c6254d00168587ac52fcd0402826a0dd2e686

[2021-02-08 23:18] reypm opened #408 "Add support for latest PHP versions"
**Describe the bug**
PHP 7.4.15 and PHP 8.0.2 were released a few days ago. This action does not seem to support them yet as per the below results from GA on a PR to our repository even forcing the version to be 7.4.15 as you will note below in the attached configuration:

![image](https://user-images.githubusercontent.com/627886/107292931-aaba9700-6a38-11eb-9389-d7322e3f9453.png)

**Version**
- [

[2021-02-08 23:51] shivammathur commented on #408
Duplicate #394
Please refer to https://github.com/shivammathur/setup-php/issues/394#issuecomment-760461251 and [Force Update Setup](https://github.com/shivammathur/setup-php#force-update-setup)

[2021-02-08 23:51] #408 closed

[2021-02-18 23:46] samdark opened #412 "pdo_mysql isn't installed"
pdo_mysql is not available despite [being specified in `extensions` when using `v2` version of the action](https://github.com/yiisoft/yii/blob/master/.github/workflows/build.yml#L11).

See https://github.com/yiisoft/yii/pull/4347/checks?check_run_id=1931296014

We check the code with `extension_loaded('pdo_mysql')` https://github.com/yiisoft/yii/pull/4347/files

![image](https://user-images.github

[2021-02-19 04:25] shivammathur commented on #412
Fixed in https://github.com/shivammathur/setup-php/commit/3f36c0511e6b5c06cdbb82f098b7a32ccf1a1203

Test workflows:
Before cache - https://github.com/shivammathur/test-setup-php/runs/1932619779?check_suite_focus=true
After cache - https://github.com/shivammathur/test-setup-php/runs/1932630635?check_suite_focus=true

Also fixed cache support for `cubrid` and `pdo_cubrid` in https://github.com/shiva

[2021-02-19 07:01] samdark commented on #412
Awesome! Thank you!

[2021-02-19 07:30] samdark commented on #412
Under PHP 5.6 there's related issue: https://github.com/yiisoft/yii/runs/1933365142

[2021-02-19 08:12] shivammathur commented on #412
@samdark Please try now.

[2021-02-19 08:24] samdark commented on #412
Works. Thank you!

[2021-02-19 08:24] #412 closed

[2021-02-22 11:19] HubertSadecki opened #413 "Could not install phalcon3"
**Describe the bug**
When trying to install phalcon3 within php 7.3, installation fail and verbose output is as follow:
[code]

The same thing happens when trying to install it with php 7.4. Probably it can happen with other PHP version I didn't verify.

Last time it worked fine was on 4th of February 2021 14:35 CET.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patc

[2021-02-22 13:14] shivammathur commented on #413
@HubertSadecki `ppa:ondrej/php` has dropped support for phalcon3. Will be fixed in next release tomorrow.

[2021-02-23 10:08] shivammathur commented on #413
Fixed in `2.10.0` release.

[2021-02-23 10:08] #413 closed

[2021-02-24 09:56] clxmstaab opened #417 "define php-version via env var"
**Describe the feature**

I want to define the php version via env var, but it seems this is not allowed?

[code]

I am getting this error:

![image](https://user-images.githubusercontent.com/47448731/108983110-ce175000-768e-11eb-9399-561f7ca1722e.png)

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**

depending on con

[2021-02-24 10:26] shivammathur commented on #417
@clxmstaab It should work if you pass env variable to `php-version` input.
Example workflow: https://github.com/shivammathur/test-setup-php/actions/runs/595697914/workflow

Please provide complete YAML workflow. Then I would be able to help you.

[2021-02-24 10:28] shivammathur commented on #417
@clxmstaab
I think you are missing `$` before `{{ env.TARGET_PHP_VERSION }}`, it should be `${{ env.TARGET_PHP_VERSION }}`

[2021-02-24 11:13] clxmstaab commented on #417
oh lol. I guess you are right.

thx for the support <3.

[2021-02-24 11:13] #417 closed

[2021-02-27 19:14] TheLevti opened #419 "Configure extension"
**Describe the feature**

Some extensions are configurable so that non default functionality can be enabled or added. One example is the phpredis extension. When installed from pecl, it asks one whether support for igbinary, msgpack and lzf should be enabled. In addition via build configuration options one can enable additional support for lz4 and zstd via:

[code]

**Version**
- [x] I have checke

[2021-02-27 21:02] shivammathur commented on #419
@TheLevti

This feature will be likely in next release.

It can be tracked here - https://github.com/shivammathur/setup-php/discussions/418

[2021-02-28 08:25] TheLevti commented on #419
Awesome, thank you!

[2021-03-02 17:18] kevincobain2000 opened #421 "Behind the proxy support?"
**Describe the feature**

Does it support behind the proxy?
I have setup on self-hosted ``FROM shivammathur/node`` and workflow is ok when I don't use extensions.

Am I missing something or does it not support behind the proxy?

[code]

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**

Question about behind the proxy a

[2021-03-02 17:31] shivammathur commented on #421
@kevincobain2000
I think you might have to set the proxy for apt in your Dockerfile.
[code]
And then pass `HTTP_PROXY=http://<host>:<port>` and `HTTPS_PROXY=http://<host>:<port>` as build-arg.

https://www.serverlab.ca/tutorials/linux/administration-linux/how-to-set-the-proxy-for-apt-for-ubuntu-18-04/

Let me know if that helps.

[2021-03-02 17:46] kevincobain2000 commented on #421
Thanks so much.
I was just doing that as my final attempt and your comment came too. Yes, I can confirm. It's all good now.

[2021-03-02 17:46] #421 closed

[2021-03-02 20:41] stof opened #422 "default extension list is different depending on PHP versions being preinstalled or no."
**Describe the bug**
When the selected PHP version is not pre-installed, the extensions available by default (without any `extensions` config being set) are not the same than when the version is preinstalled.
With github migrating `ubuntu-latest` from `ubuntu-18.04` to `ubuntu-20.04` which removed PHP 7.3 and older from preinstalled versions, this issue is likely to break more repositories.

**Ver

[2021-03-03 02:20] shivammathur commented on #422
Installing the same extensions on `ubuntu-20.04` with PHP 7.3 as the preinstalled versions would take 1-2 minutes for everyone. Instead all the extensions which are needed should be specified so that workflow is optimised as per the requirement.

Also, You can always use `ubuntu-18.04` or `ubuntu-16.04` instead of `ubuntu-latest`.
https://github.com/shivammathur/setup-php#github-hosted-runners

Bu

[2021-03-03 03:24] shivammathur commented on #422
@stof
Installing the same extensions on `ubuntu-20.04` with PHP 7.3 as the preinstalled versions would take 1-2 minutes for everyone. Instead all the extensions which are needed should be specified in extensions input so that workflow is optimised as per the requirement.

Another solution is using `ubuntu-18.04` or `ubuntu-16.04` instead of `ubuntu-latest`.
https://github.com/shivammathur/setup-ph

[2021-03-03 03:41] shivammathur commented on #422
Considering `mysql` and `pdo_mysql` are widely used, They should now be installed with every PHP version on ubuntu. As for other extensions they should be specified in extensions input as required.

[2021-03-03 03:41] #422 closed

[2021-03-03 11:25] ruudk opened #423 "Could not install memcached-3.1.5 on PHP 7.4.15"
**Describe the bug**
memcached fails installing since today.

**Version**
2.10.0

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Linux

**PHP versions**
7.4

**To Reproduce**
[code]

**Expected behavior**
This suddenly broke today.

**Screenshots/Logs**
[code]

[2021-03-03 11:46] ruudk commented on #423
When I install `memcached` instead of `memcached-3.1.5` it works.

[2021-03-03 12:06] shivammathur commented on #423
@ruudk

Yes `memcached` package is `3.1.5`. So you can just specify `memcached` without version and it should work.

[code]

Test workflow: https://github.com/shivammathur/test-setup-php/runs/2021730562?check_suite_focus=true

If you want to compile using pecl, you will have to install `libmemcached-dev` for memcached and `librdkafka-dev` for rdkafka before running `setup-php`.

[code]

Test workf

[2021-03-03 12:09] ruudk commented on #423
But it's weird that I had this config for a very long time without issues, and today it broke all of a sudden. When you specify the version, will it then always install from source?

[2021-03-03 12:12] shivammathur commented on #423
Since memcached is pre-installed and the input version matches like right now it both `3.1.5` in package and in input, It is just enabled, when they differ the extension is installed from source using pecl.

[2021-03-03 12:16] ruudk commented on #423
So this is the rule:
- When no version provided, use default installed version (no pecl install)
- When versiokn is provided and matches the default installed version, just enable it (no pecl install)
- When version provided, install from PECL when the version does not match the default installed version

?

[2021-03-03 12:17] shivammathur commented on #423
Yes

[2021-03-03 12:17] ruudk commented on #423
Then how come it broke today? Because I provide `memcached-3.1.5` and that's the default installed version, but I still get: `✗ memcached Could not install memcached-3.1.5 on PHP 7.4.15`

[2021-03-03 12:19] shivammathur commented on #423
Can you please give me link to the logs where it is failing.

[2021-03-03 12:22] shivammathur commented on #423
I'm not able to reproduce the issue with PHP 7.4: https://github.com/shivammathur/test-setup-php/actions/runs/617493608/workflow

[2021-03-03 12:27] ruudk commented on #423
Created a PR with my config, but it does not start the workflow: https://github.com/shivammathur/test-setup-php/pull/3

[2021-03-03 12:44] alexsegura commented on #423
The same happens with Redis

[code]

[code]

[2021-03-03 12:44] ruudk commented on #423
should be extension, no?

[2021-03-03 12:46] alexsegura commented on #423
@ruudk well it was working until today 🤷‍♂️

[2021-03-03 12:49] ruudk commented on #423
Ok, glad to hear I'm not crazy 😅 Something _did change_ today

[2021-03-03 12:57] alexsegura commented on #423
I see some changes about Redis & other things between [2.9.0 and 2.10.0](https://github.com/shivammathur/setup-php/compare/2.9.0...2.10.0)

What is strange is that `2.10.0` was released 8 days ago... maybe there's some cache on GitHub Actions, and it was actually invalidated today?

Probably, this will work:

[code]

[2021-03-03 12:59] ruudk commented on #423
@alexsegura See this comment https://github.com/shivammathur/test-setup-php/pull/3#issuecomment-789692159

[2021-03-03 13:13] shivammathur commented on #423
@alexsegura redis is not a tool, it is an extension. Please create a separate issue and provide your workflow. I will have a look.

[2021-03-03 13:18] alexsegura commented on #423
@shivammathur like I said, it used to work just like that.
Don't worry, I will wait until you fix this issue, and fix my workflow accordingly.

[2021-03-03 13:19] shivammathur commented on #423
@ruudk
The issue was in ubuntu-20.04 image, which was deployed yesterday. I was able to ssh into it and memcached was not installed in the build for `PHP 7.4`.

if you install `libmemcached-dev` above setup-php when specifying the memcached version. It will install memached successfully, or you can just specify memcached without version and  it will install from the package.

Both of these should

[2021-03-03 13:24] ruudk commented on #423
Thanks for debugging this.

I will add `libmemcached-dev`. But shouldn't `setup-php` detect that `memcached-3.1.5` is included already and just enable that instead? Without failure.

[2021-03-03 13:40] shivammathur commented on #423
Yes, that can be improved in future release here. I will make a note of it.

This issue was caused by change in how `ondrej/ppa` packages are built.
More details here.
https://www.patreon.com/posts/47793617

I will create a pull request to the actions images to get this fixed.

[2021-03-03 16:24] shivammathur commented on #423
Should be fixed, once this is merged and deployed
https://github.com/actions/virtual-environments/pull/2834

[2021-03-03 21:59] dmitry-ivanov opened #424 "Missing sqlite extension on Ubuntu 20.04.2 for PHP 7.3"
**Describe the bug**
Today I've made some changes in the readme file, and my tests became red on Ubuntu 20.04.2 for PHP 7.3.

It looks like there's no sqlite extension available for this combination:
https://github.com/dmitry-ivanov/laravel-testing-tools/runs/2025869782?check_suite_focus=true

It was fine on the previous execution (which was on Jan 2). For other PHP versions, it still works fine.

[2021-03-03 22:17] shivammathur commented on #424
It worked before as ubuntu-latest was ubuntu-18.04, GitHub has upgraded it to ubuntu-20.04, which does not have PHP 7.3 installed.
https://github.com/shivammathur/setup-php#github-hosted-runners

`setup-php` installs a minimum set of extensions by default. It is recommended to specify the extensions you need in the extensions input.

[code]

[2021-03-03 22:17] #424 closed

[2021-03-03 23:06] shivammathur opened #425 "ubuntu-latest is now ubuntu-20.04"
GitHub has upgraded `ubuntu-latest` images to `ubuntu-20.04`. It was `ubuntu-18.04` before.

`ubuntu-20.04` only has PHP 7.4 and PHP 8.0 pre-installed on the images. So your workflows might fail on older versions as setup-php only installs a minimum set of extensions when PHP is not pre-installed.
https://github.com/shivammathur/setup-php#github-hosted-runners

Therefore, it is recommended to spec

[2021-03-03 23:06] dmitry-ivanov commented on #424
@shivammathur Thank you for your reply and proposed solution! 👍

Shouldn't such extensions be enabled by default, though?

Or you disable them intentionally for some reason?

https://www.php.net/manual/en/sqlite3.installation.php

https://www.php.net/manual/en/ref.pdo-sqlite.php

[2021-03-03 23:16] shivammathur commented on #424
Installing the same extensions as the [pre-installed ones](https://github.com/actions/virtual-environments/blob/main/images/linux/scripts/installers/php.sh#L19) increases the workflow time from 30-40 sec to 1.5 min to 2 minutes when the PHP version is not installed. So the extensions setup are the ones installed by default when PHP is installed and curl, mbstring, xml, intl and mysql.

[2021-03-04 10:00] clxmstaab commented on #63
I just found out, that using `runs-on: ubuntu-16.04` for the action, instead of `runs-on: ubuntu-latest` makes it possible to allow php 7.0 in 2 secs instead of 2 minutes.

maybe its worth emmitting a notice with a hint, when php 7.0 is getting installed on a newer ubuntu version, that using a older ubuntu version might improve performance?

[2021-03-04 10:11] shivammathur commented on #63
Pre-installed PHP versions are documented in the GitHub-Hosted Runners table
https://github.com/shivammathur/setup-php#github-hosted-runners

If the PHP version is pre-installed, setup-php switches to it, so that is faster. Will try to make it more clear in the README.

[2021-03-04 13:04] derickr opened #426 "Only PHP-CLI is installed with the right versions"
**Describe the bug**

setup-php only installed the 7.2/7.3 cli, and not cgi and dbg versions on ubuntu-latest:

- https://github.com/xdebug/xdebug/pull/728/checks?check_run_id=2030621711#step:7:16
- https://github.com/xdebug/xdebug/pull/728/checks?check_run_id=2030621741#step:7:19
- https://github.com/xdebug/xdebug/pull/728/checks?check_run_id=2030621741#step:7:963

But for 7.4+, it does (at least

[2021-03-04 13:07] dmitry-ivanov commented on #424
Got it! 👍 Thank you for taking the time to share these details! 👍

[2021-03-04 14:08] ruudk commented on #423
@shivammathur Now that https://github.com/actions/virtual-environments/pull/2834 is merged, should it work immediately?

[2021-03-04 16:19] shivammathur commented on #423
@ruudk No, it will have to deployed first. There will be a release on [actions/virtual-environment](https://github.com/actions/virtual-environments/tags) Ubuntu 20.04 20210304.2 or newer when they start deploying it. Till then please use https://github.com/shivammathur/setup-php/issues/423#issuecomment-789708606

[2021-03-04 16:25] shivammathur commented on #426
@derickr This is a work in progress, there is a sapi branch on setup-php. Support to specify sapi like cgi, fpm, phpdbg will be there in next release at least for ubuntu.

Till then you can use `ubuntu-18.04`, it has PHP 7.1 and newer pre-installed along with cgi, fpm and dbg.

[2021-03-06 12:57] lukasbestle opened #428 "memcached extension enabled twice on PHP 7.4 and 7.3"
**Describe the bug**

On PHP 7.3 and 7.4, the Setup PHP action tries to install and enable the `memcached` extension and produces the following output:

[code]

This results in the following error during the actual test run:

[code]

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [

[2021-03-06 22:58] shivammathur commented on #428
Fixed in https://github.com/shivammathur/setup-php/commit/890ea4bca9182dac3ea6debfbb5a055bc0a239e7 and https://github.com/shivammathur/cache-extensions/commit/ac5140901cdee6c0cf16d70e131527aa0dd1a7d3

**Test workflows:**
Without cache: https://github.com/shivammathur/test-setup-php/runs/2048117303
With cache: https://github.com/shivammathur/test-setup-php/actions/runs/628232400

[2021-03-06 22:58] #428 closed

[2021-03-08 06:23] dixyes opened #429 "phpts env seems not work in unix"
**Describe the bug**
phpts env seems not work in unix(macos-latest, ubuntu-latest)

**Version**
all version (v1 v2 master)

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
macos-latest, ubuntu-latest

**PHP versions**
not related

**To Reproduce**
ceshici2 (last job) on https://github.com/dixyes/ghactionsplay/blob/main/.github/workflows/mian.yml#L108

**Expected behavior**

[2021-03-08 07:23] shivammathur commented on #429
Only nts is supported on linux and macOS
https://github.com/shivammathur/setup-php#thread-safe-setup

This may change in future, but I currently have no plans of adding zts support for Linux and macOS.
Please refer to https://github.com/shivammathur/setup-php/issues/363#issuecomment-742884304

[2021-03-08 07:23] #429 closed

[2021-03-10 21:46] derickr commented on #426
On 10 March 2021 21:37:50 GMT, Shivam Mathur ***@***.***> wrote:

Thanks, I'll give this a go tomorrow.

cheers,
Derick

[2021-03-11 08:52] Lewiscowles1986 opened #430 "Info request: install paths"
If I use this to install phpunit:6.5.5 where would it install it?

[2021-03-11 08:57] shivammathur commented on #430
ubuntu/macos: /usr/local/bin/phpunit
Windows: C:\tools\php\phpunit

[2021-03-11 08:57] #430 closed

[2021-03-11 10:32] derickr commented on #426
I can confirm that it works. Thanks!

[2021-03-11 12:16] shivammathur commented on #422
@stof @driesvints
After cache improvements in https://github.com/shivammathur/php-ubuntu/commit/1693db3f0707e0d1201282dab40857cd341d6664, on all three supported ubuntu versions same set of extensions should be available by default when PHP is installed as they are when PHP is pre-installed.

[2021-03-11 12:29] shivammathur commented on #424
@dmitry-ivanov
After cache improvements in https://github.com/shivammathur/php-ubuntu/commit/1693db3f0707e0d1201282dab40857cd341d6664, on all three supported ubuntu versions same set of extensions should be available by default when PHP is installed as they are when PHP is pre-installed.

[2021-03-11 12:36] driesvints commented on #422
@shivammathur that's great, thanks! I'll roll out updates for ubuntu-20.04 soon.

[2021-03-11 12:47] dmitry-ivanov commented on #424
@shivammathur Good to know! Thank you for the update! 👍

[2021-03-11 14:01] stof commented on #422
@shivammathur that's great news

[2021-03-12 20:26] prisis opened #432 "PHP Startup: Unable to load dynamic library"
**Describe the bug**
Since today i receive the following error:

[code]

**Version**
- [] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

os: [ubuntu-latest]

**PHP versions**

php 8.0.2

**To Reproduce**

https://github.com/narrowspark/http-emitter/blob/main/.

[2021-03-12 21:05] shivammathur commented on #432
@prisis Bump your cache key to `continuous-integration-linux-v2` and it should work.

[2021-03-12 21:05] #432 closed

[2021-03-13 09:20] sebastianbergmann opened #433 "Show Git revision of PHP nightly builds"
In situations such as https://github.com/sebastianbergmann/phpunit/issues/4622 it would be nice to know which Git revision of PHP's `master` branch was used to build `8.1`.

For example, instead of
[code]
the following could be printed
[code]

[2021-03-13 13:52] shivammathur commented on #433
@sebastianbergmann Added in https://github.com/shivammathur/setup-php/commit/0ce7328fd7ef2e70f616a6367689a818f35dec78

[2021-03-13 13:52] #433 closed

[2021-03-13 16:00] sebastianbergmann commented on #433
Thank you, @shivammathur.

[2021-03-15 19:02] TomasVotruba opened #434 "Multiple switch during one job does not happen"
Hi,

thank your for this package that is saving me from wasting hours of Docker details learning for a slight change in my CI :+1:

I'm trying to build a downgraded script and I need to use **2 different PHP versions in one build** (not parallel builds, no matrix).

I assumed this would work, but it does not:

[code]

![image](https://user-images.githubusercontent.com/924196/111206700-00023f00-85c

[2021-03-15 19:04] TomasVotruba commented on #434
Failing CI: https://github.com/rectorphp/rector/pull/5780/checks?check_run_id=2115424399

The GitHub Action workflow file: https://github.com/rectorphp/rector/pull/5780/files#diff-23292bd9e76fae269defd8417e54b807a8579772359ae91f16ae296c6829890a

[2021-03-15 19:16] TomasVotruba commented on #434
It seems only one change happens:

[code]

![image](https://user-images.githubusercontent.com/924196/111208559-317c0a00-85cb-11eb-8825-578d183aa272.png)

[2021-03-15 19:23] mfn commented on #434
No idea how setup-php works, but maybe interesting to show `$(which php)` and contents of `$PATH`?

[2021-03-15 20:57] shivammathur commented on #434
@TomasVotruba I will have a look once GitHub Actions is fixed. Currently not able to start test workflows.
https://www.githubstatus.com/incidents/s654n76c1bwr

[2021-03-15 22:52] TomasVotruba commented on #434
@shivammathur Thanks! I know, I'm being stuck last 4 hours on that one :D

[2021-03-16 01:11] shivammathur commented on #434
@TomasVotruba Fixed
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/655965120/workflow

[2021-03-16 01:11] #434 closed

[2021-03-16 01:53] shivammathur commented on #423
@ruudk Fix has been deployed and `memcached-3.1.5` should work now.

[2021-03-16 11:58] TomasVotruba commented on #434
Thanks :+1:

Could you share commit with the fix? I'm curious what was the issue.

Testing: https://github.com/rectorphp/rector/pull/5870/files

[2021-03-16 11:59] TomasVotruba commented on #434
Looking good:

[2021-03-16 12:47] shivammathur commented on #434
The cache was overwriting alternatives configuration for pre-installed versions.

Commit: https://github.com/shivammathur/php-ubuntu/commit/1314452f2a2c8e69650f4f82259676ee54106a9a

[2021-03-16 12:58] TomasVotruba commented on #434
I see, thanks for explaining :+1:  I just started using alternative locally, killer feature

[2021-03-17 13:03] miloskroulik commented on #107
Unfortunately, this didn't work for me. I got this error:

[code]

Did anyone else also experienced a problem like this?

[2021-03-17 13:39] shivammathur commented on #107
@miloskroulik
You can verify your token by fetching details of a private repository in your account.
[code]
If the token is valid, you will see the repository details, otherwise you will get a 404.

Once you have verified the token, you can configure it using setup-php like this.

[code]

If you face any problems, please create another issue with the relevant details.

[2021-03-17 14:29] miloskroulik commented on #107
Thanks for your help, @shivammathur. In the end, I just added my personal token to the secret - there's not need to wrap it to the JSON structure outlined above.

[2021-03-17 15:16] milewski opened #435 "Unable to install PHP 8.0"
Hello, on the latest version I'm facing this problem where the script says the right PHP version has been installed.. however in reality it is not...

![image](https://user-images.githubusercontent.com/2874967/111490305-df2b1c80-8775-11eb-91a8-67c81ccd2332.png)

these are the important bits from my action

[code]

[2021-03-17 15:28] milewski commented on #435
I just compared it with older builds that were working before.. I see the only difference is that the PHP version got upgraded from `8.0.2` to `8.0.3`

![image](https://user-images.githubusercontent.com/2874967/111493055-2dd9b600-8778-11eb-9a07-bcfda7c6e50e.png)

[2021-03-17 15:47] milewski commented on #435
Another update..

I tried switching from `v2` to `verbose` version... and seems to work... only `v2` apparently is not working... I have also tried `2.10`

![image](https://user-images.githubusercontent.com/2874967/111496108-f587a700-877a-11eb-8070-99d5fab89b9c.png)

[2021-03-17 16:57] shivammathur commented on #435
@milewski I have pushed a patch, please try again

[2021-03-18 03:30] milewski commented on #435
It seems to be working now. I restarted some old builds that failed due to this issue and now they are green!. Thanks!

[2021-03-18 03:30] #435 closed

[2021-03-20 20:25] lukasbestle opened #436 "Automatically installs beta version of php-cs-fixer 3"
**Describe the bug**

Three hours ago, [v3.0.0-beta.1 of php-cs-fixer was released](https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/tag/v3.0.0-beta.1). If no explicit version is pinned in the Setup PHP action config, Setup PHP chooses this release over the stable version.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
-

[2021-03-20 20:30] lukasbestle commented on #436
I believe this is a bug in php-cs-fixer, so I have opened an issue in their repo as well: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/5558

I think we should keep this issue open for better visibility of the problem until it is fixed by the php-cs-fixer team.

[2021-03-21 01:16] shivammathur commented on #436
Until the releases is marked correctly, to install the last stable version, you can specify the exact version in tools input.

[code]

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/672028723/workflow

[2021-03-22 02:25] jrfnl opened #437 "PHP 8.1: PHP looking for xdebug/pcov even when coverage set to none"
**Describe the bug**
I'm not 100% sure the bug is in this package or in PHP core itself, but when running any PHP script after setting up PHP 8.1, a build will fail due to Xdebug/Pcov not being found.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating syste

[2021-03-22 04:39] shivammathur commented on #437
It was a regression in last set of updates to the php-builder.
Fixed in https://github.com/shivammathur/php-builder/commit/baeb58cbf3227f6fbf577e8bdbfc16d38a4aa95e

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/674680746/workflow

[2021-03-22 04:39] #437 closed

[2021-03-22 05:00] jrfnl commented on #437
@shivammathur You're an absolute star! Thanks for the fix and the fast turn-around. I've restarted the problem builds and can confirm that the fix works.

[2021-03-22 15:33] keradus commented on #436
3.0.0-beta by definition is a not stable. please, consider adding a "-beta" suffix (-alpha, -rc etc) to you the logic.

[2021-03-22 16:47] #436 closed

[2021-03-26 11:14] rvvincelli opened #438 "Syntax typo 2.8.0 relnotes"
**Describe the bug**
In the relnotes of 2.8.0 (see [here](https://github.com/shivammathur/setup-php/releases/tag/2.8.0)) there is a little typo, it should be `tools: composer:1.10.1`, so no space between the tool name and requested version. Thanks for adding this feature!

**Version**
- [ 2.8.0 ]

[2021-03-26 12:01] shivammathur commented on #438
@rvvincelli Thanks for reporting this. Fixed :)

[2021-03-26 12:01] #438 closed

[2021-03-28 12:45] Jeckerson opened #439 "psr extension did not installed but added to php.ini"
**Describe the bug**
[code]

[code]

[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu

**PHP versions**
8.0

**To Reproduce**
https://github.com/phalcon/cphalcon/blob/b6c97f0c926273c38c72adda86d4b392b9e4168e/.github/workflows/codec

[2021-03-28 12:54] Jeckerson commented on #439
Never mind. All works fine.

[2021-03-28 12:54] #439 closed

[2021-04-01 14:04] peter-mw opened #440 "PHP Startup: Unable to load dynamic library 'gd.so'"
**Describe the bug**
PHP GD and other plugins are not available

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [x] `v1`

**Runners**

- [ ] GitHub Hosted
- [x] Self Hosted

**Operating systems**

**PHP versions**
7.3, 7.4, 8.0

**To Reproduce**
actions.yml

[code]

**Expected behavior**
To work

**Screenshots/Logs**
[code]

[2021-04-01 14:17] shivammathur commented on #440
@peter-mw
Correct key is `extensions`, not `extension`.
Also, please use `v2` instead of `master`.

[code]

[2021-04-01 14:17] #440 closed

[2021-04-01 14:21] peter-mw commented on #440
Hello, still does not work

[code]

Im using the local runner

![image](https://user-images.githubusercontent.com/5698247/113308186-985d2b00-930e-11eb-86c4-912d09bc958f.png)

[2021-04-01 14:23] shivammathur commented on #440
@peter-mw In that case, please specify `runner: self-hosted`
https://github.com/shivammathur/setup-php#self-hosted-setup

[2021-04-01 14:27] peter-mw commented on #440
@shivammathur in this case i get error

`  Skipping unsupported platform 'self-hosted'`

here is my actions.yml

[code]

[2021-04-01 14:33] shivammathur commented on #440
ok, local as in `nektos/act`, I though you were using self-hosted runners.
Sorry for the confusion.

`setup-php` does not work on default act images.
We maintain `shivammathur/node` docker images for this
https://github.com/shivammathur/node-docker

For example, to use `ubuntu-20.04` on act with setup-php, run
[code]
https://github.com/shivammathur/setup-php#local-testing-setup

[2021-04-01 14:53] peter-mw commented on #440
Same error.

Maybe the error is related to the `act` runner. What other options besides `act` i have to run this on local machine ?

[2021-04-01 15:32] shivammathur commented on #440
@peter-mw  I cannot reproduce this error on my end

Please provide the complete workflow and complete yaml workflow.

My Test Workflow
[code]

Act Output
[code]

[2021-04-01 15:48] peter-mw commented on #440
Thank you @shivammathur
It works now when i added the option ` -j main`

Thank you a lot for your help. Awesome project :)

It works with
`act -P ubuntu-latest=shivammathur/node:focal -j main`

Here is my output

[code]

[2021-04-01 16:11] shivammathur commented on #440
ok make sure the `runs-on` label matches the `-P` argument to `act`.
For example
`runs-on: ubuntu-20.04`, use `act -P ubuntu-20.04=shivammathur/node:focal`
`runs-on: ubuntu-latest`, use `act -P ubuntu-latest=shivammathur/node:focal`

[2021-04-01 16:16] peter-mw commented on #440
I see, definitely this was the case yes.

Thank you for the help and the great work

[2021-04-05 14:04] samdark opened #441 "Intl sometimes isn't installed despite being reported as installed"
https://github.com/yiisoft/validator/runs/2237818592

PHP install:

[code]

Run tests:

[code]

See https://github.com/yiisoft/validator/issues/128

[2021-04-05 16:34] shivammathur commented on #441
@samdark
I was able to reproduce this, but `intl` seems to be loaded correctly after setup-php.
https://github.com/shivammathur/test-setup-php/runs/2271014708?check_suite_focus=true#step:4:40

When the tests run, it fails randomly.
For example, In this workflow run, tests run correctly 3 times and then failed on the 4th run.
https://github.com/shivammathur/test-setup-php/runs/2271014708?check_suit

[2021-04-05 17:27] shivammathur commented on #441
Seems to be related to the mocked `function_exists` in `UrlTest.php`.
Add `setUp` function which sets `idnFunctionException` to `false` in `RulesTest` and `GroupRuleTest`.

[2021-04-05 17:27] #441 closed

[2021-04-05 19:43] samdark commented on #441
OK. Will check that. Thanks!

[2021-04-14 15:10] SamMousa opened #442 "Generic composer tool support"
**Describe the feature**
Currently all tools need to be manually registered in the code (`tools.ts`) of this package.

**Version**
Feature is not in master

**Underlying issue**
Function `addTools` uses a large switch statement and exact matching.

**Describe alternatives**
I propose adding a prefix for composer; for example: `composer/scrutinizer/ocular` would install the `scrutinizer/ocular` too

[2021-04-14 17:29] shivammathur commented on #442
What would be the advantage in your opinion of adding this feature as compared to adding a step to install composer packages after setup-php.

I think composer prefix would be redundant, `scrutinizer/ocular` or anything matching `user/tool` can be passed to composer.

[2021-04-14 19:17] SamMousa commented on #442
Good point on the redundancy of a prefix. My main reason for this feature request is that I need to install global composer package x and don't want to create a PR in this repo for every package.

I'm definitely flexible in the way we organise it, being a part of the tools syntax or a separate part of the config both will work fine and is up to your preference I guess

[2021-04-20 08:32] SamMousa commented on #442
https://github.com/shivammathur/setup-php/commit/23393c46d74251fd7b49308b53458d89673adc31

[2021-04-21 07:49] szepeviktor opened #446 "Support tools: none"
**Describe the feature**

Please consider supporting `tools: none` when not even Composer is installed.

Currently there is a message with "unknown tool".
https://github.com/shivammathur/setup-php/blob/master/src/tools.ts#L536

Thank you.

[2021-04-21 08:11] shivammathur commented on #446
@szepeviktor
I can add `tools: none`.

Although, updating composer phar takes only around 100ms... so I kept it as a default, since that is what most workflows did before installing packages.

[2021-04-21 08:13] szepeviktor commented on #446
I do some weird run Composer scripts on PHP 7.3 then revert to PHP 7.0 and:
![kép](https://user-images.githubusercontent.com/952007/115520157-2717f480-a28a-11eb-849c-8243cbb9d024.png)

[2021-04-21 08:28] shivammathur commented on #446
This is because `TypistTech/imposter` was installed with PHP 7.3. It has a php requirement `php: ^7.3 || ^8.0`.

and reverting to PHP 7.0 gives error, as line 14 of the package is
`protected const DEFAULT_EXCLUDES = ['typisttech/imposter'];`
and class constant visibility modifiers are only supported on PHP 7.1 and above.

So remove `TypistTech/imposter` before running setup-php again with PHP 7.0

[2021-04-21 08:46] szepeviktor commented on #446
I need the fruit of `TypistTech/imposter` on PHP 7.0.
Of course I never run Composer on PHP 7.0 again.

Could you help?

[2021-04-21 10:52] shivammathur commented on #446
Removing composer won't help here as when you use `TypistTech/imposter` with PHP 7.0, you will get the error.

Downgrading the package using rector might help
**Test workflow**: https://github.com/shivammathur/test-setup-php/actions/runs/770373521/workflow
**rector.php**: https://github.com/shivammathur/test-setup-php/blob/e8bcbf5c101bf97629cdeb7047c65c0e9964e708/rector.php

[2021-04-21 11:10] szepeviktor commented on #446
I've stated that I will not start Composer again after the PHP downgrade.
And the application does not call imposter.

[2021-04-21 11:30] szepeviktor commented on #446
And we could spare 100 ms! 😄

[2021-04-21 11:53] shivammathur commented on #446
Added in develop, please test and let me know.
[code]

[2021-04-21 12:16] szepeviktor commented on #446
It works.
Thank you.

![kép](https://user-images.githubusercontent.com/952007/115552057-242dfb80-a2ac-11eb-91e0-edd3aa0a46d5.png)

[2021-04-27 06:08] shivammathur commented on #446
Added in `2.11.0`.

[2021-04-27 06:08] #446 closed

[2021-04-27 06:08] shivammathur commented on #442
Added in `2.11.0`.

[2021-04-27 06:08] #442 closed

[2021-04-27 06:10] shivammathur commented on #419
Added in `2.11.0`.
Please refer to this [guide](https://github.com/shivammathur/setup-php/wiki/Add-extension-from-source) for more details.

[2021-04-27 06:10] #419 closed

[2021-04-27 06:13] szepeviktor commented on #446
Thank you.

[2021-04-27 08:25] rogervila opened #447 "macOS builds fail after upgrading from 2.10.0 to 2.11.0"
**Describe the bug**

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

macOS

**PHP versions**

7.1, 7.2, 7.3, 7.4

**To Reproduce**

https://github.com/rogervila/php-sonarqube-scanner/actions/runs/788373895

**Expected behavior**

The project

[2021-04-27 08:40] shivammathur commented on #447
@rogervila Fixed in https://github.com/shivammathur/homebrew-php/commit/296fc5bcdcbbce4612f7ad2328951a80452387ca
Please restart your workflow.

[2021-04-27 08:41] #447 closed

[2021-04-27 09:02] alexander-schranz opened #448 "pdo_mysql is no longer installed on windows"
**Describe the bug**

It seems like since the latest `2.11` release the pdo extension seems not longer be installed on windows https://github.com/sulu/sulu/runs/2445821141

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1` // not tested

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

Windows

[2021-04-27 10:00] shivammathur commented on #448
Fixed in https://github.com/shivammathur/setup-php/commit/15c43e89cdef867065b0213be354c2841860869e
Please restart your workflow.

[2021-04-27 10:00] #448 closed

[2021-04-27 10:07] alexander-schranz commented on #448
@shivammathur That was fast, the CI works now! Thank you 👍

[2021-04-27 10:32] rogervila commented on #447
Thank you, it works now.

[2021-04-28 18:15] greg0ire opened #449 "OCI8/PDO_OCI: The process '/usr/bin/bash' failed with exit code 1"
**Describe the bug**
We just observed today a new issue on doctrine/dbal, specifically with oci8

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu 20.04.2

**PHP versions**
8 and 7.4

**To Reproduce**
[code]

**Expected behavior**
No cras

[2021-04-28 20:06] shivammathur commented on #449
@greg0ire The links to download the latest oracle's client and sdk are randomly resolving to older versions.
I have added a fix to handle that in https://github.com/shivammathur/setup-php/commit/9149639a33b1aac7b78d53f2858f5bb95adf79a1
Restart your workflow, it should run correctly now.

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/788181361/workflow

[2021-04-28 20:06] #449 closed

[2021-04-28 21:34] greg0ire commented on #449
Thanks, it does fix the issue!

[2021-04-30 07:18] Slamdunk opened #450 "Use php.ini-development by default instead of production one"
Hi, currently this GA installs PHP with its default `php.ini`, which is for Linux the one taken from Ondrej repositories (https://deb.sury.org/) as far as I can tell.

Those packages install PHP selecting the `php.ini-production` config from `php-src`, which sets for example `error_reporting` to `E_ALL & ~E_DEPRECATED & ~E_STRICT` instead of `E_ALL`.

But as a Continuous Integration services, it w

[2021-04-30 08:12] shivammathur commented on #450
I would not like to change it right now. May be in next major version this can be done.
Currently, I think the `ini-values` input can be used as per the project requirements.

[2021-04-30 08:12] #450 closed

[2021-05-01 22:54] shivammathur opened #452 "Support for Ubuntu 16.04 (Xenial Xerus) runners is deprecated and will be removed on August 1, 2021"
Standard Support for Ubuntu 16.04 (Xenial Xerus) LTS has ended and it has entered Extended Security Maintenance (ESM), a paid offering from Canonical.

https://ubuntu.com/blog/ubuntu-16-04-lts-transitions-to-extended-security-maintenance-esm

So we will remove support for Ubuntu 16.04 based runners on August 1, 2021. It is highly recommended that you upgrade `ubuntu-16.04` workflows to `ubuntu-18.

[2021-05-05 15:02] bohdan-sokulskyi-n-ix opened #454 "Installing PHP 7.3 fails on Linux"
**Describe the bug**
GH action fails with error:
[code]

* Switching to Ubuntu 18.04 doesn't help
* Switching to PHP 7.4 helps (but we need 7.3, so for us it's not an option)
* Investigation shows that the problem is in this commit: https://github.com/shivammathur/setup-php/commit/ef477a1dd71038ae272fe0c68d206727da409264 (as the previous one works good)

**Version**
- [ ] I have checked releases,

[2021-05-05 16:57] shivammathur commented on #454
@bohdan-sokulskyi-n-ix
Fixed in https://github.com/shivammathur/setup-php/commit/e8855efe7c37a0fce86b7cf32eb0515c6aa6d2a6
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/814148169/workflow

Although I have a question, why you are using `shivammathur/node:focal-slim` as a container. Unless the host GitHub image causes issues in your workflow, I would recommend removing th

[2021-05-05 16:57] #454 closed

[2021-05-05 17:41] bohdan-sokulskyi-n-ix commented on #454
@shivammathur thanks a lot!

[2021-05-06 08:19] samdark opened #455 "Can't install imagick on Windows with extension cache"
**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

Windows.

**PHP versions**

PHP 5.6

**To Reproduce**

https://github.com/yiisoft/yii2-app-basic/blob/master/.github/workflows/build.yml#L12

**Expected behavior**

I expect imagick to be availab

[2021-05-06 12:11] shivammathur commented on #455
@mlocati is it possible to call `Install-PhpExtensionPrerequisite` in `Enable-PhpExtension` as well to ensure dependencies are installed before enabling the extension.

[2021-05-11 02:09] shivammathur commented on #455
@samdark

Fixed in https://github.com/shivammathur/setup-php/commit/9882bed06691b3a085010c1602ce43ef18f15c5b and https://github.com/mlocati/powershell-phpmanager/pull/79

Please bump your cache key from `cache-v1` to `cache-v2`, so that imagick dependencies are cached in the next run.

[2021-05-11 02:09] #455 closed

[2021-05-11 20:22] Danon opened #456 "Support for specifying PHP patch versions"
**Describe the feature**
Specify PHP version to the patch version, like `7.3.36`.

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**

I have logic that depends on the PHP patch versions, would like to test that.

**Are you willing to submit a PR?**

I don't know how.

[2021-05-11 21:07] shivammathur commented on #456
Duplicate #453

[2021-05-11 21:07] #456 closed

[2021-05-12 13:59] alexander-schranz opened #457 "Imagick not longer installed correctly"
**Describe the bug**

Not sure since when but currently our windows php setup fails with:

[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Windows

**PHP versions**

7.4

**To Reproduce**

Can be found here: https://github.com/sulu/skel

[2021-05-12 14:18] shivammathur commented on #457
Fixed in https://github.com/shivammathur/cache-extensions/commit/470b94d722859ea87e31ec6a93a3773900d6352f

[2021-05-12 14:18] #457 closed

[2021-05-12 14:38] alexander-schranz commented on #457
@shivammathur Thx seems like this was already released, is there something we need to change that it is actually used?

[2021-05-12 14:39] alexander-schranz commented on #457
Thank you for the quick fix 👍

[2021-05-12 15:53] alexander-schranz commented on #457
@shivammathur Do you know if we need to change something, I did restart the CI and it seems still outputting:

[2021-05-12 17:36] shivammathur commented on #457
This should now be fixed in https://github.com/shivammathur/setup-php/commit/00f360b99d827fc1a61b651240a7cd449a6ddb03, Please re-run your workflow.

The issue in your workflow seems to be coming from `ramsey/composer-install` action which changes the system PATH and broke imagick dependencies after recent changes in how extension dependencies were installed.

I have changed the setup from adding d

[2021-05-14 09:12] alexander-schranz commented on #457
@shivammathur Restart did [work now](https://github.com/sulu/skeleton/runs/2582302746) thank you 👍

[2021-05-19 13:15] cnizzardini opened #458 "Documentation typo"
**Describe the bug**
See https://github.com/shivammathur/setup-php/wiki/Add-extension-from-source `mongodb-mongodb/mongo-php-driver@v1.9` should be `mongodb/mongo-php-driver@v1.9`:

[code]

[2021-05-19 14:07] #458 closed

[2021-05-19 16:18] shivammathur commented on #458
The pattern is `<extension>-<repo>@<version>`

[2021-05-19 21:56] KorvinSzanto opened #459 "Odd iconv behavior converting from utf8 to ascii"
**Describe the bug**
I'm trying to get my internationalization/multibyte conversion tests working in github actions using `select-php` and I'm running into a snag where `iconv` is throwing a notice `PHP Notice:  iconv(): Detected an illegal character in input string in Command line code on line 1` when it should be handling the string just fine given the configuration.

I've narrowed this down to

[2021-05-19 22:18] KorvinSzanto commented on #459
Interesting discovery thanks to @wordish it seems that this is an edge case related to the ubuntu based actions shipping with `C.UTF-8` as their default locale. Specifying `LANG=en_US.UTF-8` when running php makes it work like my local machine which just has `en_US.UTF-8` by default.

[2021-05-19 22:27] KorvinSzanto commented on #459
If anyone runs into this issue again you can see the fix here: https://github.com/KorvinSzanto/odd-iconv/compare/main..fixed

Given that it's an edge case and something at a higher level than PHP I figure it's not something that should be done as part of `setup-php` so I'm going to close this issue for now.

[2021-05-19 22:27] #459 closed

[2021-05-19 23:00] shivammathur commented on #459
The default locale on `ubuntu-20.04` and `ubuntu-18.04` is `C.UTF-8`. So yes, the fix should be to specify `LC_ALL` as required.
More details here https://github.com/actions/virtual-environments/issues/3120#issuecomment-815492874

[2021-05-24 11:55] localheinz opened #461 "Setting up PHP 8.1 on ubuntu-latest somehow tries to use redis extension"
**Describe the bug**

In [`sebastianbergmann/phpunit`](https://github.com/sebastianbergmann/phpunit), we currently run tests against PHP 8.1.

Our GitHub Actions job definition looks like this (also see [`ci.yaml`](https://github.com/sebastianbergmann/phpunit/blob/564e78a6c088916467cd4bc0af2e1bb9da9b1a0c/.github/workflows/ci.yml#L55-L140)):

[code]

With this configuration, jobs running on `ubuntu

[2021-05-24 12:05] shivammathur commented on #461
@localheinz
https://pear.php.net/ has expired certificate which broke extensions in the build.
Please restart the workflow, it should work now.

Fixed in https://github.com/shivammathur/php-builder/commit/f68704f7c111b25cf80e182c4c00bf418faaef79

[2021-05-24 12:12] localheinz commented on #461
Thank you, @shivammathur!

🤓

[2021-05-24 12:12] #461 closed

[2021-06-04 07:43] ruudk opened #462 "New release that supports Composer 2.1.1"
Composer 2.1.0 contains an annoying bug that doesn't dump the autoloader for dev dependencies when `composer install --no-scripts` is used.

It just released a new version https://github.com/composer/composer/releases/tag/2.1.1.

When I re-run my jobs, `setup-php` still picks 2.1.0:
[code]

Will this version be automatically picked up or is it backed in some kind of image? If so, can a new image b

[2021-06-04 07:47] shivammathur commented on #462
Updated
https://github.com/shivammathur/composer-cache/releases/tag/versions

[2021-06-04 07:47] #462 closed

[2021-06-04 07:48] ruudk commented on #462
⚡ ❤️ 🙌

[2021-06-04 08:45] 7ochem commented on #462
With my job it still keeps picking 2.1.0:

[code]

What should I configure to force it to pick 2.1.1?

[2021-06-04 08:48] 7ochem commented on #462
Hee! Now it's picking 2.1.1 all of a sudden 😄  Just pressed re-run jobs again and now it works.

[code]

[2021-06-04 10:02] iBotPeaches opened #463 "Modules dir output"
**Describe the bug**
Just seeing some output that I assume isn't normal.

[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
[code]

**Expected behavior**
No output warnings

**Screenshots/Logs**
![bug](http

[2021-06-04 16:10] shivammathur commented on #463
@iBotPeaches
FIxed in https://github.com/shivammathur/setup-php/commit/bb0acc63133a4a64eb0cafb16c403cf8578c3ca5

[2021-06-04 16:10] #463 closed

[2021-06-10 07:08] staabm opened #465 "add 7-zip to windows based php setups"
**Describe the feature**
since composer 2.1.x the package manager supports [parallel archive extraction when 7 zip is present](https://github.com/composer/composer/pull/9875) on the machine.

would it be possible to make 7z available in the PATH of the system, or at the default location `C:\Program Files\7-Zip`, so composer would by default utilize this parallel extraction capabilities?

**Version

[2021-06-10 07:53] shivammathur commented on #465
7-Zip is pre-installed on the GitHub Runners and is in PATH.
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/924351139/workflow

[2021-06-10 07:53] #465 closed

[2021-06-11 08:49] staabm opened #466 "composer v1 vs. v2 default"
**Describe the bug**

I am wondering why setup-php sometimes sets up composer v2 and somtimes v1 as a default when its not explicitly defined.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

ubuntu-latest

**PHP versions**

7.4

**To Reproduc

[2021-06-11 08:49] staabm commented on #466
of course I could explicitly define composer:v2 in the setup step, but I figured it would neverthelss be worth to report a bug because of this strange default behaviour

[2021-06-11 10:32] shivammathur commented on #466
@staabm That should not be the case, when a version is not specified, it should always set up the latest stable version (currently v2 or 2.1.3).
I have verified the code which installs composer, and also ran tests but could not reproduce this bug. If you can provide a link to the workflow run reproducing this, I can check further.

[2021-06-14 07:51] staabm commented on #466
I cannot share the build link itself, because a private repo  is affected.

please see the following raw-logs - are this usefull?

composer v1: https://gist.github.com/staabm/1c9435e9e56247f7284b42ffd0fc9f71
composer v2: https://gist.github.com/staabm/13d3385aa3c395428d5c00e76570e31b

[2021-06-14 07:54] staabm commented on #466
args, comparing the logs it seems the workflow file beeing used has a `tools: composer:v1` tag in one of the branches

[2021-06-14 07:54] #466 closed

[2021-06-16 08:30] mlocati opened #467 "Specify the version of PHP-CS-Fixer"
**Describe the feature**
It'd be very useful to specify the version of PHP-CS-Fixer to be used.
People may want to specify the major version (`tools: php-cs-fixer:v2`) or the full version ((`tools: php-cs-fixer:v2.2.20`).

So, we'd have 3 cases:
- `tools: php-cs-fixer` -> setup-php should fetch ` https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/latest/download/php-cs-fixer.phar`
- `tools: php

[2021-06-16 09:08] shivammathur commented on #467
@mlocati
specifying the exact version is already supported.
https://github.com/shivammathur/test-setup-php/actions/runs/942254049/workflow

I will add support for specifying major versions for php-cs-fixer in the next release.

[2021-06-16 09:28] mlocati commented on #467
You are very great, @shivammathur !

[2021-06-20 08:35] razonyang opened #468 "Could not install extension from source."
**Describe the bug**

Hi, I follow the guide [Add extension from source](https://github.com/shivammathur/setup-php/wiki/Add-extension-from-source) to add an extension, but it doesn't work.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

`ubun

[2021-06-20 08:57] shivammathur commented on #468
@razonyang

- For `opencc`, you have to specify the extension name before the repo as the input format is `extension-repository@git_ref`
- For `protobuf` you have to specify the extension path in the `protobuf` repository i.e. `php/ext/google/protobuf`.
- Also you can set up both in a single `setup-php` step.

[code]
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/954110

[2021-06-20 08:57] #468 closed

[2021-06-21 16:34] jrfnl opened #469 "PHP 8.1 / Nightly: update status ?"
I have a feeling there's something iffy going on with the PHP 8.1 / nightly version.

## Project 1

When running tests for a particular project locally on PHP 8.1.0-alpha1 as released two weeks ago, I can see a number of tests failing. However, when I run the same tests on GH Actions against PHP 8.1, the tests pass.

If I look at the "Set up PHP" step, it refers to the commit hash https://github.c

[2021-06-21 16:38] jrfnl commented on #469
@shivammathur If you like, I can provide you with links to the projects mentioned and test runs and such. Please do let me know whatever information you'd find useful. Also happy to set up test runs with debug settings enabled and such. Just let me know how I can help figure out what's going on.

[2021-06-21 17:42] shivammathur commented on #469
@jrfnl

The build is from yesterday's commit https://github.com/php/php-src/commit/e748dcacadd54fa6713076e48bced27992da41f0. I have verified this.

The first error is a deprecation warning [`(E_DEPRECATED)`](https://github.com/php/php-src/blob/e748dcacadd54fa6713076e48bced27992da41f0/Zend/zend_API.c#L462).
By default setup-php uses the production `php.ini` which has `error_reporting=E_ALL & ~E_DEP

[2021-06-21 18:15] jrfnl commented on #469
@shivammathur Thanks for getting back to me.

That ini setting is sneaky. I hadn't realized that and wasn't expecting it either as CI is generally used for testing (i.e. dev), so I'd expected `E_ALL`.

I can confirm the other issue is also a deprecation (at least for now).

I guess I'll be updating all workflows for projects I'm involved with to set `error_reporting=E_ALL` for all "experimental" b

[2021-06-21 18:15] #469 closed

[2021-06-21 18:35] shivammathur commented on #469
@jrfnl Yes, with `setup-php` v3 release, we will shift to the development `php.ini`. Changing it before will be a breaking change. https://github.com/shivammathur/setup-php/issues/450

[2021-06-21 18:36] jrfnl commented on #469
@shivammathur I understand and I agree, changing this now would have to be done in a major release. Very happy to see that it will be changed in the future though.

[2021-06-29 09:07] ruudk opened #470 "Expose installed PHP version as environment variable"
**Describe the feature**
It would be really helpful if the selected & installed php version would be exposed as an environment variable. This can then be used to construct caching keys.

**Version**
2.11.0

**Underlying issue**
I use the following YAML config to install PHP:
[code]

The action automatically installs the latest version when specifying `8` as input version. This is great.
[code]

Bu

[2021-06-29 09:59] shivammathur commented on #470
For using the semver PHP version in `actions/cache` keys, you will need steps outputs from `setup-php`.
https://github.com/actions/toolkit/blob/main/docs/commands.md#set-outputs
But using semver would clear the cache for each new PHP patch version, is that the intended consequence? If yes, I will add this in the next release.

On a side note instead of `8`, you should specify `'8.0'` (with quotes)

[2021-06-29 10:15] ruudk commented on #470
That's my intent indeed. When a major, minor or patch version of PHP is released, miss the cache and run without cache.

[2021-06-30 08:58] Jeckerson opened #471 "Could not install imagick on PHP 7.4.21"
**Describe the bug**

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
MacOS

**PHP versions**
7.4

**To Reproduce**
[code]

**Expected behavior**
Installed imagick on PHP 7.4

**Screenshots/Logs**
https://github.com/phalcon/cphalcon/pull/15561/

[2021-06-30 11:37] shivammathur commented on #471
@Jeckerson This might be a one-off network issue while fetching the manifest or the `imagick` build from GitHub packages. I ran the tests and it should install correctly.
https://github.com/shivammathur/homebrew-extensions/runs/2951590560?#step:3:14

If this happens again, let me know.

[2021-06-30 14:12] Jeckerson commented on #471
@shivammathur The problem occur on the next build with the same cache key.

* https://github.com/phalcon/cphalcon/pull/15561/checks?check_run_id=2953080608#step:7:9
* https://github.com/phalcon/cphalcon/pull/15561/checks?check_run_id=2953080608#step:5:25

[2021-06-30 15:32] shivammathur commented on #471
`Imagick` extension in the cache seems to be old, I have reset the date parameter for it in the cache key to last build date in https://github.com/shivammathur/cache-extensions/commit/b9734e30e3ffd0b478d7676425d8a397d0f5bd99. Please restart your workflow and let me know if it still fails.

[2021-06-30 22:38] Jeckerson commented on #471
Now seems to work.

[2021-06-30 23:13] Jeckerson commented on #471
Same problem continues:
https://github.com/phalcon/cphalcon/pull/15566/checks?check_run_id=2957170376

[2021-07-03 11:33] shivammathur commented on #471
@Jeckerson
Added support to cache dependencies on `macOS` in https://github.com/shivammathur/cache-extensions/releases/tag/1.6.0
This should fix the issue, Sorry for the confusion before.. I thought I had implemented this earlier.

Test workflow: (without cache): https://github.com/shivammathur/test-setup-php/actions/runs/996196888/workflow
Test workflow: (with cache): https://github.com/shivammat

[2021-07-06 02:58] #471 closed

[2021-07-06 06:16] laruence opened #472 "setup error, anyone knows how to fix this?"
[code]

from : https://github.com/laruence/yaf/actions/runs/1003361502/workflow

thanks in advance.

[2021-07-06 06:35] shivammathur commented on #472
Remove the space in `${{ matrix.PHP }}`, also please use `v2` instead of master.
[code]

[2021-07-06 06:39] #472 closed

[2021-07-06 06:47] laruence commented on #472
ah, how silly !, thanks!

[2021-07-06 21:20] Jeckerson commented on #471
@shivammathur Now it seems that cached extension does not contain all necessary formats, some of our tests are starting to fail after it picks from cache.

https://github.com/phalcon/cphalcon/runs/3003070714#step:13:279

[2021-07-07 07:45] shivammathur commented on #471
@Jeckerson
Fixed in https://github.com/shivammathur/cache-extensions/commit/96afc02cad60712c65d5b7155992e66f8b85ca02
Test workflow (without cache): https://github.com/shivammathur/test-setup-php/actions/runs/1007139356/workflow
Test workflow (with cache): https://github.com/shivammathur/test-setup-php/actions/runs/1007175530/workflow

[2021-07-07 13:30] Jeckerson commented on #471
@shivammathur Now it seems to work, could you please make new release?

[2021-07-07 14:29] shivammathur commented on #471
@Jeckerson
Done
https://github.com/shivammathur/cache-extensions/releases/tag/1.6.1

[2021-07-07 17:47] Jeckerson commented on #471
Now all seems to be fine, thanks.

[2021-07-12 07:51] Slamdunk opened #473 "composer-require-checker: /usr/bin/env: ‘php\r’: No such file or directory"
**Describe the bug**

Now:
[code]

4 days ago:
[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
`ubuntu-latest`

[code]

**PHP versions**
[code]

**To Reproduce**
[code]

**Additional context**
Nothing changed in my code within the last

[2021-07-12 08:56] shivammathur commented on #473
@Slamdunk in 3.3.0 release of `composer-require-checker` the phar has wrong line endings. Please report this upstream.

[2021-07-12 09:19] Slamdunk commented on #473
Thank you very much and sorry that I haven't checked it myself :pray:

Discussion continue at https://github.com/maglnet/ComposerRequireChecker/issues/281

[2021-07-12 09:19] #473 closed

[2021-07-14 10:04] shivammathur commented on #470
@ruudk
Added in 2.12.0
https://github.com/shivammathur/setup-php#php-version

[code]

[2021-07-14 10:04] #470 closed

[2021-07-14 10:13] shivammathur commented on #467
@mlocati
I added support to specify the `major` or `major.minor` version for all tools hosted on GitHub in `2.12.0` release.

While using this you would have to provide a GitHub OAuth token to avoid getting rate limited when setup-php fetches the exact tag release matching the input. You can use the default [`GITHUB_TOKEN`](https://docs.github.com/en/actions/reference/authentication-in-a-workflow)

[2021-07-14 10:13] #467 closed

[2021-07-14 10:20] shivammathur commented on #473
@Slamdunk After `2.12.0` release `composer` is used to set up `composer-require-checker`, so this error should not be there now in CI workflows.

[2021-07-14 10:24] Slamdunk commented on #473
Thank you very much for your quick fixes and hard work providing a great GHA experience with PHP

[2021-07-15 18:50] iBotPeaches opened #475 "Support specific PHP version"
**Describe the feature**
PHP 7.4.21 came out and it has something that led to some crashes in our codebase. TLDR - "ini_set" a memory limit lower than what you have in use is no longer allowed. https://github.com/php/php-src/pull/7040. I'd much rather file a ticket on our team and fix this the right way then upgrade, then panic with our build suite failing with a new minor release.

**Version**
-

[2021-07-15 19:11] shivammathur commented on #475
Duplicate https://github.com/shivammathur/setup-php/issues/456

I'm sorry, this is not supported.
This would require maintaining builds of each patch release for all the supported versions and operating systems, which would be a huge task and with the current funding, would be out of scope for this project.

[2021-07-15 19:11] #475 closed

[2021-07-15 19:48] shivammathur commented on #475
For running `7.4.20` till you have a fix, you can use the old build of docker image we maintain for setup-php. It has `PHP 7.4.20`.
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1035163281/workflow
[code]

[2021-07-16 12:30] antond1990 opened #476 "Environment variables not defined / not available in symfony"
**Describe the bug**
The workflow runs some checks and tests using this action in version 2. Because other services are used, some environment variables are defined in the github workflow which should override the variables defined in the `.env` file of Symfony. But the variables defined in the workflow are not available in the Symfony project.

**Version**
- [ ] I have checked releases, and the b

[2021-07-16 13:18] shivammathur commented on #476
@antond1990
`$_ENV` only has environment variables that are passed to the PHP script, which in the case of `laravel` or `symfony` would be from the `.env `file.
Please use `getenv` for system environment variables that are set in the workflow.

Ref:
1) https://www.php.net/manual/en/reserved.variables.environment.php
2) https://www.php.net/manual/en/function.getenv.php

[2021-07-16 13:20] antond1990 commented on #476
That's right, but when I define a variable in the workflow, the variable is disappeared in Symfony, instead of overriden.

Happens when phpunit tests are running in the pipeline.

[2021-07-16 15:00] shivammathur commented on #476
@antond1990
I could not reproduce the issue you are facing. I was able to get the environment variables in a PHPUnit test from the workflow using `getenv`.
Test workflow: https://github.com/shivammathur/test-setup-php/runs/3087279025?check_suite_focus=true#step:13:21

If you can provide a link to your workflow or create a test repo to reproduce the issue, I can have a look.

[2021-07-17 00:21] #476 closed

[2021-07-21 11:31] lucasmdrs opened #477 "Self-hosted runners fail composer setup if not root user"
When using the setup-action on a self-hosted runner, the composer setup fails (without exiting) due to lack of permission.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [ ] GitHub Hosted
- [x] Self Hosted

**Operating systems**

Docker/Ubuntu

**PHP versions**

Tested with 8.0.8, probably happening

[2021-07-21 13:47] shivammathur commented on #477
@lucasmdrs
Fixed in https://github.com/shivammathur/setup-php/commit/36cb9fb0fccf887130d6c5a3d40a3b3479310026
Now the composer's home directory will be owned by the current user, and that should fix this issue.

[2021-07-21 13:47] #477 closed

[2021-07-21 14:23] shivammathur opened #478 "Support for Blackfire v1 will be dropped on September 1, 2021"
Blackfire `v1` will sunset on September 1, 2021, so `setup-php` will drop support for it and switch to Blackfire `v2`.

The main difference in Blackfire `v2` is that both `agent` and `client` are unified into a single executable `blackfire`. Therefore there is no `blackfire-agent` executable.

No changes will be required in your workflow to set up backfire v2 using `setup-php`. But, if after the `

[2021-07-21 16:34] shivammathur commented on #478
@lolautruche Whenever you have some time, please test the `Blackfire v2` setup using the `blackfire-v2` branch? Also, please check if any changes will be required in the backfire [GitHub Actions docs](https://blackfire.io/docs/integrations/ci/github-actions).

[2021-07-27 17:01] m50 opened #479 "This requires ubuntu, so it won't work if self-hosted runner is not an ubuntu flavour."
**Describe the bug**
We use amazon linux for our self-hosted runners because they have some necessary things setup for us, however we cannot use `setup-php`, because it relies on a file that is Ubuntu only. I haven't dug into this to see if we can just fake the file, or even what it is for, however.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1`

[2021-07-27 17:52] shivammathur commented on #479
@m50 That is just the start where it would fail, since this was initially designed to run on GitHub Action ubuntu runners, we did not add support for any Linux distributions other than ubuntu while adding support for self-hosted runners.

This would require switching from `/etc/lsb-release` to `/etc/os-release` for os detection and tooling using Yum instead of APT.

I'm happy to add support for ot

[2021-07-27 19:27] m50 commented on #479
Ok. I'll look to see if it's something I can create a PR for.

[2021-08-02 18:11] shivammathur commented on #452
Support for Ubuntu 16.04 has been removed in https://github.com/shivammathur/setup-php/commit/947009a71769c25ab5292f073f5343624b7c879d.

[2021-08-02 18:11] #452 closed

[2021-08-06 12:14] staabm opened #482 "support running inline php scripts"
**Describe the feature**
writing bash scripts etc. within github action workflows is a real pain - especially if you are used to the php language.

additionally the feedback loop getsss soo long when try and error debugging github action workflows.

I would love if there would be something possible like:

[code]

so writing inline php within the workflow.

that way we could easily develop advanced

[2021-08-06 14:30] shivammathur commented on #482
@staabm
It is possible to run inline php code in the workflow. You have to specify the shell for the step as `php {0}`.

It saves whatever is in the run property to a file and executes using the default shell for the OS. For Linux, the default shell would be `sh` or `bash`,  which you can override to be `php`. `{0}` reference the file saved.

Relevant ADR: https://github.com/actions/runner/blob/ma

[2021-08-06 16:08] #482 closed

[2021-08-06 16:08] staabm commented on #482
thanks for the great reply @shivammathur. wasn't aware it is already that easy <3

[2021-08-07 07:15] staabm commented on #482
Do you think this is worth mentioning in the readme

[2021-08-07 09:00] shivammathur commented on #482
@staabm I will add it in the next release.

[2021-08-10 08:31] lolautruche commented on #478
Hello @shivammathur

Sorry, I was on vacation so I can review what you already did just now.
Why not merging the `blackfire-v2` branch now? There is no BC break according to what you already implemented.

I only noticed a small mistake in the service start for Linux (gonna do a PR right away).

[2021-08-10 08:36] lolautruche commented on #478
https://github.com/shivammathur/setup-php/pull/483

[2021-08-10 12:59] shivammathur commented on #478
Awesome, I will merge this in the next release.

[2021-08-10 13:46] lolautruche commented on #478
Cool ! Thank you 🙂

[2021-08-13 11:56] faizanakram99 opened #484 "Action freezes for 3 minutes at installing extensions and then fails"
**Describe the bug**
Action freezes for 3 minutes at installing extensions and then fails

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
8.0

**To Reproduce**
[code]

**Expected behavior**
It should install PHP

[2021-08-13 13:22] shivammathur commented on #484
@faizanakram99
There is no `php8.0-sqlsrv` package, so it is installing `sqlsrv` and `pdo_sqlsrv` from `PECL`.
You can use `shivammathur/setup-php@verbose` to see the logs.

I could not reproduce the issue though you faced, so might be a one-off. Please try again using the `verbose` branch and provide the logs if it happens again.
Test runs:
**v2:** https://github.com/shivammathur/test-setup-php/r

[2021-08-13 16:58] faizanakram99 commented on #484
@shivammathur

Yep, looks like a one off error.

Thanks

[2021-08-13 16:58] #484 closed

[2021-08-19 13:51] dktapps opened #485 "Wrong version of php-cs-fixer installed"
**Describe the bug**
It looks like the action always uses the latest release of php-cs-fixer, which isn't always the newest one, since they maintain 2.19 and 3.0 simultaneously.

This leads to php-cs-fixer 3.0-dependent runs breaking spontaneously in the last day or two because the action suddenly started providing 2.19 instead of 3.0, since 2.19.2 is the newest release and not 3.0.2.

**Version**

[2021-08-19 14:58] shivammathur commented on #485
Please ask upstream to set 3.0.2 as the latest version in their releases.

Also, you can specify the major version to 3 and specify a GitHub OAuth token with COMPOSER_TOKEN env.
https://github.com/shivammathur/setup-php#wrench-tools-support

[code]

If this is not fixed upstream, I will try to find a resolution for this in the next release, but most likely will have to switch to installing php-cs-

[2021-08-19 15:33] dktapps commented on #485
I can file the issue, but it's likely a similar problem will crop up again since they regularly release multiple versions simultaneously. It's hard to avoid.

[2021-08-20 04:11] shivammathur commented on #485
Fixed in https://github.com/shivammathur/setup-php/commit/4d3cfaa6531effaa5068d7e54df6037e96c09aa8, will be in next release.

[2021-08-20 10:12] dktapps commented on #485
Awesome, thank you.

[2021-08-21 21:57] Danon commented on #302
i can't get it working.

I can't use `actions/checkout` and I can't install git to clone the repo. How to make it work?

[2021-08-22 00:16] shivammathur commented on #302
@Danon Please use actions/checkout@v1, that should work. Related issue https://github.com/actions/checkout/issues/334

[2021-08-22 03:26] shivammathur commented on #302
@Danon
I have fixed this in our `shivammathur/node` x86 images (https://github.com/shivammathur/node-docker/commit/ac95d443b1f436126474c1681273715ba2de983c) and now actions should work using the normal syntax on them (`spc` is not required anymore). I will update the documentation about this in the next release.

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1154928977

[2021-08-23 11:03] shivammathur commented on #485
Fixed in 2.13.0
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1158374085/workflow

[2021-08-23 11:03] #485 closed

[2021-08-23 11:04] shivammathur commented on #478
Added in 2.13.0

[2021-08-23 11:04] #478 closed

[2021-08-23 11:06] shivammathur commented on #479
Closing this right now, please re-open if you plan to work on this.

[2021-08-23 11:06] #479 closed

[2021-08-23 11:08] shivammathur commented on #482
Added to README in `2.13.0`

[2021-08-23 13:07] staabm commented on #482
thank you so much. already used it today and it is a pleasure to write gh-action workflows in php instead of bash.

[2021-08-24 04:41] heyanlong opened #486 "Failed to restart php7.0-fpm.service: Unit php7.0-fpm.service not found."
**Describe the bug**

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

ubuntu

**PHP versions**

7.0

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Additional context**

**Are you willing to submit a PR?**

[2021-08-24 05:32] shivammathur commented on #486
Fixed in https://github.com/shivammathur/php-ubuntu/commit/aa5f74dd198545d620b3a8ab60aec5f9492298db
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1161366505/workflow

[2021-08-24 05:32] #486 closed

[2021-08-24 08:23] localheinz opened #487 "Allow enabling required PHP extensions only instead of disabling a long list of unwanted PHP extensions"
**Describe the feature**

In https://github.com/sebastianbergmann/phpunit/issues/4747, @sebastianbergmann suggests enabling only required PHP extensions for GitHub Actions, in order to have a clear sense of which PHP extensions are required. By default, `shivammathur/setup-php` has a wide range of PHP extensions enabled, and while it is possible to disable and enable extensions at will, disabling

[2021-08-24 09:26] shivammathur commented on #487
@localheinz
Currently while removing extensions it does not consider that extensions can depend on other extensions, this somehow skipped my mind while implementing this.

I will try to fix this - when an extension on which other extensions depend has to be removed, it will be removed along with all the dependent extensions.

Your suggestion about removing all extensions except ones specified is a

[2021-08-24 10:33] localheinz commented on #487
@shivammathur

Sounds like a perfect solution for us!

[2021-08-29 08:04] mnapoli opened #488 "Installing PHP-FPM fails"
**Describe the bug**

Installing PHP-FPM fails. It used to work until yesterday.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

Ubuntu latest

**PHP versions**

PHP 7.3

**To Reproduce**

https://github.com/brefphp/bref/blob/fed2e89ff8ffe713

[2021-08-29 10:11] shivammathur commented on #488
Fixed in https://github.com/shivammathur/php-ubuntu/commit/da4518ff7c5301c4991e34def1174ecf76ba4045

[2021-08-29 10:11] #488 closed

[2021-08-29 11:24] mnapoli commented on #488
Thank you, that fixed the build :)

[2021-09-02 08:38] driesvints opened #489 "Windows builds fail for PHP 8.1"
**Describe the bug**
Windows builds are currently failing for the PHP 8.1 nightly builds at the setup PHP step with this library. The following error is thrown:

![Screen Shot 2021-09-02 at 10 30 27](https://user-images.githubusercontent.com/594614/131810695-00251212-e1d1-46e1-b6d0-bc5dcf068159.jpg)

It seems a non existing PHP 8.1.0RC2-dev version is used even though that's not been released yet.

[2021-09-02 08:39] driesvints commented on #489
Right after seeing this I tried re-running the main build on 8.x and it seems that all of our PHP 8.1 builds across all branches are now failing. I'll revert our PHP 8.1 builds for now so pull requests from community members etc don't fail.

https://github.com/laravel/framework/runs/3493571398

[2021-09-02 08:56] shivammathur commented on #489
@driesvints I have reported the bug to `powershell-phpmanager` package that setup-php uses for Windows.
https://github.com/mlocati/powershell-phpmanager/issues/87

[2021-09-02 08:57] driesvints commented on #489
Thanks @shivammathur. I was in doubt where the issue was present but since it was happening in the shivammathur/setup-php step I reported it here. Thanks for finding the correct location.

[2021-09-02 09:47] shivammathur commented on #489
@driesvints No worries, Till there is a fix in `powershell-phpmanager`, I have built PHP 8.1 with the PHP version patched to `8.1.0-dev`, which is parsed correctly. So, it should work again.

[2021-09-02 09:51] driesvints commented on #489
Seems like @mlocati is already on it 🙂

[2021-09-02 12:02] mlocati commented on #489
I should have fixed the issue. Please keep me updated.

[2021-09-02 12:36] shivammathur commented on #489
@mlocati Thanks, works now.

[2021-09-02 12:36] #489 closed

[2021-09-04 09:12] GrahamCampbell opened #490 "PHP 8.1"
Is it possible to have PHP 8.1 enable PHP 8.1.0-RC1, and 8.2 enable the nightly builds from the master branch? I think this now makes the most sense out of the box. NB The master branch of php/php-src are now PHP 8.2, with PHP 8.1 now spun off to its own branch.

[2021-09-04 09:22] shivammathur commented on #490
8.1 is a nightly from PHP-8.1 branch already and should be more stable than the tagged RC1.

8.2 should work now, I have added builds for all OS. Updated docs will be in the next release.

[2021-09-04 09:22] #490 closed

[2021-09-04 10:43] GrahamCampbell commented on #490
Is there a way to get the RC builds without having to hard code RC1 in the tests? I'd rather get those than the 8.1 nightlies (and then have the same code get the stable builds once they are out)

[2021-09-04 11:22] shivammathur commented on #490
@GrahamCampbell specifying `php-version: 8.1` right now gives RC builds, you do not have to specify RC. When stable 8.1 will be released it will start setting up the stable version.

[2021-09-04 11:28] GrahamCampbell commented on #490
Perfect. 👌

[2021-09-05 20:06] williamdes opened #491 "Add support for a "nightly" alias"
**Describe the bug**

I had to comment out the next PHP 8.2 version as it does not exist yet for this action.
See: https://github.com/phpmyadmin/sql-parser/commit/dd2f634b9918ef7986783b324c734016ef7d2f09

TravisCI (sorry to mention it, I would prefer that we forget about it) had support for "nightly" in the php version matrix. This was helpfull

**Are you willing to submit a PR?**
Sorry, I am miss

[2021-09-05 20:06] williamdes commented on #491
Ah, form mistake, not a bug

[2021-09-05 20:30] williamdes commented on #487
I was thinking `none` was released 😄
https://github.com/phpmyadmin/sql-parser/runs/3519242419#step:4:15
Early tester it will be ^^

[2021-09-06 06:15] shivammathur commented on #491
8.2 should work and set up `8.2.0-dev` from the master branch of php. I added builds last week. The docs will be updated in the next release.
Test workflow: https://github.com/shivammathur/setup-php/runs/3496421413?check_suite_focus=true#step:6:1

In Travis, IMHO this was broken as they won't update the nightly as it would shift to the next to next version (8.2) and you would not be testing the ne

[2021-09-06 06:18] shivammathur commented on #487
@williamdes I was a bit busy. Will release this week.

[2021-09-06 06:33] shivammathur commented on #491
Added in develop (https://github.com/shivammathur/setup-php/commit/d068c17d9e2904a5b2c36561a68ad75857c30a22). It Will be in the next release.
Test workflow; https://github.com/shivammathur/test-setup-php/actions/runs/1204939520/workflow

[2021-09-06 06:35] williamdes commented on #491
Thank you so much!
Will wait for the release and apply this on all repos

[2021-09-11 00:53] shivammathur commented on #491
Released in [`2.14.0`](https://github.com/shivammathur/setup-php/releases/tag/2.14.0)

[2021-09-11 00:53] #491 closed

[2021-09-11 00:53] shivammathur commented on #487
Released in [`2.14.0`](https://github.com/shivammathur/setup-php/releases/tag/2.14.0)

[2021-09-11 00:53] #487 closed

[2021-09-14 16:03] oschwald opened #492 "Unable to install gmp or bcmath extensions"
**Describe the bug**

At some point in the last three months, `bcmath` and `gmp` stopped working in our workflow with no change to the workflow itself. We were installing PHP manually with `spc`, but the same things happens when switching back to `setup-php`. See the [last successful run](https://github.com/maxmind/MaxMind-DB-Reader-php/actions/runs/907209846) vs. a [current run](https://github.co

[2021-09-14 17:25] shivammathur commented on #492
@oschwald I will check this

[2021-09-14 19:36] shivammathur commented on #492
@oschwald
Sorry about the regression.

Fixed in https://github.com/shivammathur/setup-php/commit/c644f654ceaf4edf961d47787b0b730c1269aefe.
[Test workflow](https://github.com/shivammathur/test-setup-php/actions/runs/1234985365/workflow)

Please restart your workflow.

[2021-09-14 19:36] #492 closed

[2021-09-15 00:04] oschwald commented on #492
Works great. Thanks for the quick fix!

[2021-09-15 00:40] jay-oswald opened #493 "a terminal is required to read the password"
**Describe the bug**
When running on a github runner everything works, however when I moved over to a self-hosted runner it threw this error, logs from github action below

[code]

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [x] Self Hosted
Works on GitHub Hosted, errored on Sel

[2021-09-15 03:18] shivammathur commented on #493
Please configure password-less sudo on your self-hosted runner as documented in this guide

https://github.com/shivammathur/setup-php/wiki/Requirements-for-self-hosted-runners#linuxwsl

[2021-09-15 03:23] jay-oswald commented on #493
I had done that originally, and I must have missed a step, I re-did it and that specific error has gone away, but its still failing, this time with no real error

[code]

[2021-09-15 03:37] jdaiv commented on #493
As a quick follow up, we've fixed the sudoers file for the runner. But we're still getting just a `Could not setup PHP 7.4` error.

Below are the raw logs:
[code]

[2021-09-15 04:00] jdaiv commented on #493
I did a bit of digging on this and looks like we're missing a package. I edited the action to log errors and this was the result:

[code]

One `apt install zstd` later and we're fixed!

[2021-09-15 04:02] shivammathur commented on #493
Please specify runner as `self-hosted`.
https://github.com/shivammathur/setup-php#self-hosted-setup

[code]

[2021-09-15 04:36] jdaiv commented on #493
Ah, whoops, missed that. Crazy that they don't let you automatically detect what environment you're running on. For what it's worth it was running smoothly without that now.

Thanks for the help!

[2021-09-15 04:39] #493 closed

[2021-09-16 16:24] Paradiddley opened #494 "Can't run using nektos/act"
**Describe the bug**
I'm trying to run my workflow locally using [nektos/act](https://github.com/nektos/act) and this error keeps coming up in the output when setting up PHP, tools and exts;

[code]

It eventually fails completely with anything using the `php` executable;

[code]

Without tools and extensions defined I get this;

[code]

I've used this action before for a package I made and it wor

[2021-09-16 16:28] Paradiddley commented on #494
Here's a simplified workflow for reproducing.

[code]

[2021-09-16 16:33] Paradiddley commented on #494
Oh and I'm using Docker for Mac on a MBP M1 macOS 11.6. Error persists when using arch emulation too for act. (`--container-architecture linux/amd64`)

[2021-09-16 16:39] shivammathur commented on #494
Please use shivammathur/node images for running setup-php on `act`.
https://hub.docker.com/r/shivammathur/node

[code]

Refer to: https://github.com/shivammathur/setup-php#local-testing-setup

[2021-09-16 16:48] Paradiddley commented on #494
Sorry, I missed that in the readme. I've tried it and it's running fine now. Thank you for your help and the quick response.

[2021-09-16 16:48] #494 closed

[2021-09-17 10:54] chintandave-simformsolutions opened #495 "Setup tools: php: error while loading shared libraries: libsodium.so.23: cannot open shared object file: No such file or directory"
**While using laravel-mysql.yml with act throws error**

[Testing Laravel with MySQL/Laravel (PHP 7.2)-1]   ❗  ::error::The process '/usr/bin/bash' failed with exit code 1
| php: error while loading shared libraries: libsodium.so.23: cannot open shared object file: No such file or directory
[Testing Laravel with MySQL/Laravel (PHP 7.2)-1]   ❌  Failure - Setup PHP, with composer and extensions
[PHP

[2021-09-17 11:04] shivammathur commented on #495
@chintandave-simformsolutions
Duplicate #494

It is recommended to use shivammathur/node images for running setup-php on act.
https://hub.docker.com/r/shivammathur/node
[code]
Refer to: https://github.com/shivammathur/setup-php#local-testing-setup

for other images, you will have to specify the runner as self-hosted.

[code]

[2021-09-17 11:04] #495 closed

[2021-09-18 18:55] samdark opened #496 "PDO_OCI for PHP8"
**Describe the feature**

Could not install pdo_oci on PHP 8.0.10

**Version**

- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

[2021-09-18 18:56] samdark commented on #496
https://github.com/yiisoft/db/pull/238/checks?check_run_id=3641368345

[2021-09-18 19:42] shivammathur commented on #496
@samdark
I could not reproduce the issue.
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1249207383/workflow

Extensions `pdo_oci` and `oci8` should install correctly for all PHP versions. Might be a temporary issue.

Can you switch to `shivammathur/setup-php@verbose`, and if it fails again, provide me the logs.

[2021-09-18 20:25] terabytesoftw commented on #496
When I put the verbose version it works perfectly, when I put the normal version it doesn't work, here you can see it.

`Verbose work:`

https://github.com/terabytesoftw/db/runs/3641761681?check_suite_focus=true

`No verbose:`

https://github.com/terabytesoftw/db/runs/3641793839?check_suite_focus=true

[2021-09-18 21:10] shivammathur commented on #496
@samdark @terabytesoftw Recent release broke cache support. Fixing it now.

[2021-09-18 22:12] shivammathur commented on #496
Fixed in 48aac87d46a6be92606792479960dc0bbb325532
Please test and let me know.

[2021-09-19 09:28] samdark commented on #496
Worked. Thank you very much for fixing it so fast 👍

https://github.com/yiisoft/db/runs/3644169663

[2021-09-19 09:28] #496 closed

[2021-09-19 11:45] jrfnl opened #497 "Tools: add support for phpDocumentor"
**Describe the feature**
Would be great to be able to use `phpDocumentor` straight from tools.

Ref: https://github.com/phpDocumentor/phpDocumentor

/cc @jaapio @mvriel

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
This tool is typically used to generate API documentation for projects.

**Are you willing to submit

[2021-09-19 12:01] jrfnl commented on #497
PR: #498

[2021-09-19 12:03] jrfnl opened #499 "Tools: add support for Parallel Lint"
**Describe the feature**
Would be great to be able to use `parallel-lint` straight from tools.

Ref: https://github.com/php-parallel-lint/PHP-Parallel-Lint

/cc @grogy

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
This tool is typically used to lint for PHP parse errors in projects.

**Are you willing to submit a P

[2021-09-20 00:00] jrfnl commented on #497
Closing after merge of #498

[2021-09-20 00:00] #497 closed

[2021-09-20 01:05] jrfnl commented on #499
Fixed via #500

[2021-09-20 01:05] #499 closed

[2021-09-20 12:48] jrfnl opened #502 "Tools: add support for PHPUnit Polyfills"
**Describe the feature**
Would be great if the PHPUnit Polyfills Composer package would be available straight from tools.

Ref: https://github.com/Yoast/PHPUnit-Polyfills

**Note**: PHPUnit Polyfills has a (Composer) dependency on PHPUnit, but once installed, tests can be run both via Composer as well as via a PHPUnit PHAR file.
I'm not sure whether that would add extra complexity to an implementa

[2021-09-20 13:16] shivammathur commented on #502
@jrfnl

Go ahead with the PR 🚀

This should work.

[code]

[2021-09-20 14:20] jrfnl commented on #502
Closed as fixed via #503

[2021-09-20 14:20] #502 closed

[2021-09-21 06:04] ro0NL opened #504 "Expose PHPUnit src for Psalm analyse"
**Describe the feature**
Expose PHPUnit src files extracted from PHAR.

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
Psalm can't follow PHARs out-of-the-box: https://github.com/vimeo/psalm/issues/3868

**Describe alternatives**
[code]

**Additional context**
Having this extracted files saves us a step :angel:

**Ar

[2021-09-21 14:27] ro0NL commented on #504
The world is not ready for PHARs, yet :D

A global composer install sounds reasonable for CI :+1:

Nice work here overall :)

[2021-09-21 14:27] #504 closed

[2021-09-22 17:08] mondrake opened #505 "Support for AVIF in PHP8.1RC3"
**Describe the feature**
PHP 8.1 bundled GD supports the AVIF file format, https://github.com/php/php-src/pull/7026.

However the 8.1RC3 executable loaded by the plugin does not seem to have been compiled with AVIF support.

Is it possible to support it?

**Version**
- [ ] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
AVIF image file

[2021-09-24 19:35] shivammathur opened #506 "Refactor: Use parameterised testing using `jest.it.each`"
`jest.it.each` reduces the boilerplate test code and improves the readability and maintainability.
Currently `config`, `tools` and `coverage` tests use `jest.it.each`. The same can be done for `utils`, `extensions` and `install` tests.

Ref:
- https://www.npmjs.com/package/jest-each
- https://elfi-y.medium.com/reduce-boilerplate-test-code-with-jest-it-each-30a0eec9776d

[2021-09-24 20:01] shivammathur opened #507 "Add GitHub Action workflow to publish setup-php to NPM and GitHub Packages"
Currently, after every release, I manually update the NPM package. A workflow can be added to do this when a new release tag is created. Also the same can start publishing to GitHub Packages as well.

Ref:
- https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

[2021-09-24 20:12] shivammathur opened #508 "Refactor: `extensions.ts` to use a config files"
Currently, extensions are hardcoded in `extensions.ts` which is not good. Similar to tools, extensions should use a config file where we can have an entry for each extension that is currently hardcoded. So the task is

- [ ] Create a JSON schema for extensions config that incorporates all hard-coded logic.
- [ ] Create the config and refactor `extensions.ts` to use that.
- [ ] Make sure there is n

[2021-09-24 20:43] shivammathur opened #509 "Add support for php-sdk and web-rmtools on Windows in tools input"
Currently while building PHP snaps for Windows in [php-builder-windows](https://github.com/shivammathur/php-builder-windows) each workflow installs `php-sdk` and `web-rmtools`. This can be handled by `setup-php`.

[2021-09-24 20:50] shivammathur opened #510 "Add example workflows to test PHP extensions"
Add example workflows to test PHP extensions.

The API to [add extensions from the source](https://github.com/shivammathur/setup-php/wiki/Add-extension-from-source) can be used. Also, support for running `make test` can be added to the API using an environment variable flag which defaults to false.

[2021-10-01 16:28] danepowell commented on #350
Today, `phpdismod` does not seem to work for _any_ version of PHP provided by setup-php. I tried `sudo phpdismod -v ALL xdebug` and `sudo phpdismod xdebug`.

Additionally, the replacement script provided above did not work on PHP 8. I had to add a wildcard to this line:
`sudo rm -rf "$scan_dir"/*xdebug*`

Our implementation in https://github.com/acquia/orca/pull/159

[2021-10-01 17:02] shivammathur commented on #350
@danepowell

Xdebug 2 is installed using PECL, and `phpdismod` only works with the extensions installed using Debian packages, not from PECL.

To disable it, you can use setup-php again with `coverage: none` or `extensions: :xdebug` (xdebug prefixed with `:`) instead of scripts.

Extensions are no longer removed completely, So to enable it back again you can use `coverage: xdebug` or `extensions:

[2021-10-01 17:58] danepowell commented on #350
Thanks! Obviously I'd prefer to use the `coverage:` key to enable/disable xdebug natively, but for cross-compatibility with other CI systems our app needs to be able to handle this via a user script.

[2021-10-04 13:14] ajrice6713 opened #511 "cURL 60 Error running composer install using windows-2016 and PHP 8.0"
**Describe the bug**
On Windows-2016 and PHP 8.0 - seeing a cURL 60 error when running `composer install`

[code]

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
windows-2016, windows-2019, ubuntu-18.04, ubuntu-20.04

**PHP versions**
7.4, 8.0

[2021-10-04 14:17] shivammathur commented on #511
@ajrice6713
Thanks for reporting this

Fixed in https://github.com/shivammathur/setup-php/commit/d7c3e33a96fcafad4ddbd4a6db81e8505a8eb7f4

Please re-run your workflow.

[2021-10-04 14:17] #511 closed

[2021-10-04 14:22] ajrice6713 commented on #511
@shivammathur working great - thanks for the speedy patch!!

[2021-10-04 17:45] aneeshrelan commented on #507
Hey, is this something I can take a stab at? Any specific way/approach you have in mind? Using something like [semantic-release](https://semantic-release.gitbook.io/semantic-release/)...?

[2021-10-04 21:32] shivammathur commented on #507
@aneeshrelan Yes, feel free to submit a PR.

With this, we just want to automate publishing to NPM and GH Packages, not complete releases. So `semantic-release` is not required.

If you go through this [guide](https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages#publishing-packages-to-the-npm-registry) by GitHub, it has the [workflow](https://docs.github.com/en/actions

[2021-10-05 01:58] njgreb opened #512 "ext-sockets failing"
**Describe the bug**
Our project uses "php-amqplib/php-amqplib" which requires the sockets extension.  I have enabled it using `extensions: sockets` and I see the logging showing "sockets enabled".  When the system gets to doing a composer install though, I get the following error:
[code]

**Version**
- [X] `v2`
- [ ] `v1`

**Runners**

- [X] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

[2021-10-05 02:15] shivammathur commented on #512
Setup PHP installs PHP directly on the GitHub Actions container, so other actions which spin up their own containers are not compatible with it. Please run composer directly instead of using `php-actions/composer`. That would work and also actually use the composer dependency cache you set up in the above step.

[code]

[2021-10-05 04:42] aneeshrelan commented on #507
Thanks for the help @shivammathur. I'll have something ready soon

[2021-10-05 17:13] shivammathur commented on #507
For every commit eslint is run in the node workflow, so in this workflow we can just publish.

[2021-10-05 17:41] njgreb commented on #512
That worked perfectly.  Thank you.

[2021-10-05 17:41] #512 closed

[2021-10-05 18:12] aneeshrelan commented on #506
Can you please assign this to me? I'll try to put something up for this

[2021-10-05 18:15] shivammathur commented on #506
Awesome, assigned.

[2021-10-09 12:05] aneeshrelan commented on #506
Have raised #516 for `install.test.ts`

[2021-10-09 22:02] terabytesoftw opened #517 "Problem DST Root CA X3 php 5.6-7.1. in windows-latest."
**Describe the feature**
Problems with the certificate in PHP from 5.6 to 7.1, from 7.2 to 8.0, i could solve it, I know it is not a problem of your great extension but if you could help solve it or some suggestion would be great, from 7.2 onwards it works without problems greetings and really thanks for helping the whole community PHP.

[2021-10-10 00:12] terabytesoftw commented on #517
https://github.com/yiisoft/yii2-app-basic/runs/3775140526?check_suite_focus=true

[2021-10-10 00:31] shivammathur commented on #517
@terabytesoftw

Thanks for reporting this,

This should be fixed in https://github.com/shivammathur/setup-php/commit/a7f90656b3be3996d1ec5501e8e25d5d35aa9bb2

Please re-run your workflow.

[2021-10-10 00:31] #517 closed

[2021-10-14 21:57] danepowell opened #519 "Specifying xdebug2 and PHP 8 installs xdebug3 instead"
**Describe the bug**
If you specify the following...
[code]
You actually get PHP 8.0 and Xdebug 3. Since Xdebug 2 and PHP 8.0 are an invalid combination, I would expect an error to be generated instead of silently installing Xdebug 3.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
-

[2021-10-15 07:42] simPod opened #520 "ext-snmp for PHP 8.1"
**Describe the feature**

[code]
ext-snmp is not installed.

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Are you willing to submit a PR?**

What can I do?

[2021-10-15 11:29] aneeshrelan commented on #506
Yup. I can. But I won't have time this weekend. Next week I can spend some time

[2021-10-15 13:31] shivammathur commented on #520
Fixed in https://github.com/shivammathur/setup-php/commit/d259dd49a275094dcb86e9701891fef57c2cd049

Please re-run your workflow.

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1346056522/workflow

[2021-10-15 13:31] #520 closed, assigned to shivammathur

[2021-10-18 20:02] joppuyo opened #521 "/tmp/install.sh: line 1: Failed: command not found – GitHub rate limit?"
**Describe the bug**
I'm getting this error intermittently when running GitHub actions in parallel:

It doesn't seem to be tied to any specific version of PHP.

[code]

Maybe there's some sort of rate limit that prevents downloading this file?

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub

[2021-10-18 20:06] shivammathur commented on #521
Yes, there seems to be an issue with fetching builds from GitHub Releases.

https://status.setup-php.com/incidents/tqmy10wvx66q

[2021-10-18 21:22] #521 closed, assigned to shivammathur

[2021-10-19 08:25] ThorstenSuckow commented on #459
I just ran into the same issue and the suggested fix helped to solve the problem.
What strikes me odd, though, is that my docker container has the same locale (`C.UTF-8`) set and all tests using `iconv` and `\\TRANSLIT` work without any issue.
If anyone can shed some light on this...

[2021-10-29 09:04] heyanlong opened #522 "Could not install yar on PHP 7.0.33"
**Describe the bug**

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

**PHP versions**

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Additional context**

**Are you willing to submit a PR?**

[2021-10-29 09:44] #522 closed, assigned to shivammathur

[2021-11-03 10:30] franck-paul opened #523 "How to get outputs from inline PHP script?"
**Describe the bug**

I'm unable to get the output of an inline PHP script with ${{steps.[step-id].outputs}}

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

ubuntu-latest

**PHP versions**

PHP 8

**To Reproduce**

Here is my workflow .yml fi

[2021-11-03 11:00] franck-paul commented on #523
Sorry for this issue, I was misreading the documentation!

Here is a working workflow:

[code]

[2021-11-03 11:00] #523 closed

[2021-11-04 11:53] stof commented on #450
@shivammathur is there any plan for when the v3 will be done ?

[2021-11-04 12:42] shivammathur commented on #450
Next year likely.

I would like to drop support for PHP 5.3 to 5.5 in v3, so once `composer` drops support for these old versions we can do the same here in v3.

After the pandemic, I only have 1 major sponsor funding setup-php. The time I'm able to take out from my consulting work is mostly spent on maintenance tasks, so the progress is slow. If this funding situation improves and I'm able to giv

[2021-11-04 17:00] CLL-GTA opened #524 "Show the filename from the output of cs2pr"
**Describe the feature**
I have setup the action with `cs2pr` and I am using `php-cs-fixer`

[code]

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
If `php-cs-fixer` finds an issue i have to hunt down the culprit file by running it on the codebase. `php-cs-fixer` includes the filename in its output and `cs2pr` includ

[2021-11-04 18:38] shivammathur commented on #524
@CLL-GTA

This action only installs `cs2pr`.

GitHub Actions parses this line below and only prints the warning. If the workflow is running against a PR it should create an annotation in the PR diff using the filename. For it to be printed in the logs that will be a feature for `cs2pr`.

[code]

[2021-11-04 18:38] #524 closed

[2021-11-08 10:59] Nikkoz opened #525 "Could not install rdkafka on PHP 8.0"
**Describe the bug**
[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
8.0

**To Reproduce**

**Expected behavior**

**Screenshots/Logs**

**Additional context**

**Are you willing to submit a PR?**

[2021-11-08 14:57] shivammathur commented on #525
On Ubuntu there is no `php-rdkafka` package, so to install it you will need to install it using source. It needs the `librdkafka` library. You can use the [build from source API](https://github.com/shivammathur/setup-php/wiki/Add-extension-from-source) of setup-php which allows you to specify libraries.

[code]
Here is a test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/14

[2021-11-08 14:57] #525 closed

[2021-11-08 16:45] Nikkoz commented on #525
Thanks, it works

[2021-11-10 21:50] azjezz opened #526 "PhpManager exits succesffuly when it fails to install an extension"
**Describe the bug**

when PhpManager fails to install an extension on Windows, it returns an exit code of 0, resulting on the action to continue running, even tho dependencies were not installed.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems*

[2021-11-10 23:03] shivammathur commented on #526
@azjezz
Yes, when extensions or tools fail to install, setup-php does not exit. This was a design choice to simplify cross-platform workflows as some extensions and tools only support a particular OS.

To change this, set `fail-fast` environment variable to `true`.
[code]
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1446475729/workflow
Docs (last point in extension su

[2021-11-10 23:03] #526 closed

[2021-11-11 10:39] ondrejmirtes opened #527 "PHP 8.1 uses wrong php-src branch?"
**Describe the bug**

Hi, I'm experiencing a weird failure with PHP 8.1 on Ubuntu builds: https://github.com/phpstan/phpstan-src/runs/4176492148?check_suite_focus=true

I don't see how it could fail like this on PHP 8.1 on Ubuntu and pass on other versions and even on PHP 8.1 on Windows. Last time I see this method fail was when PHP 8.0 changed this (https://wiki.php.net/rfc/namespaced_names_as_to

[2021-11-11 13:13] shivammathur commented on #527
The branches used to build PHP were correct, the part which saved the commit hash in the build was wrong.

This is fixed in https://github.com/shivammathur/php-builder/commit/00ff61c89be311333a4ebb507900673bb485c6fc and new builds are complete.

[2021-11-11 13:13] #527 closed

[2021-11-15 21:17] afragen opened #529 "PHPUnit declared in matrix not used for phpunit tests"
**Describe the bug**
I have a matrix for php version and phpunit versions. https://github.com/afragen/git-updater-gitea/blob/main/.github/workflows/wp-phpunit.yml

In reviewing the Actions on a commit. It seems that the correct version of phpunit is loaded, however it isn't used in the phpunit tests.

What am I missing?

**Version**
- [ ] I have checked releases, and the bug exists in the latest p

[2021-11-16 02:26] shivammathur commented on #529
Should be fixed by https://github.com/afragen/git-updater-gitea/pull/2

[2021-11-16 02:45] #529 closed

[2021-11-17 16:11] ondrejmirtes commented on #527
I've tracked the problem down but I don't know whose problem it is: https://bugs.php.net/bug.php?id=81632

[2021-11-18 05:48] shivammathur commented on #527
@ondrejmirtes

The issue is in `php8.1-ds` package from `ppa:ondrej/php`.

It works correctly when testing with the master branch of `ds`.
[code]

So, I have added `ds` from the `master` branch of the extension to the builds in https://github.com/shivammathur/php-builder/commit/e6abaeb0e277a85a0d19e387aed663d3d080d7d9.

It should correctly tokenize now. Please test and let me know.
Test workflow (

[2021-11-18 07:13] ondrejmirtes commented on #527
Awesome, thank you very much!

Can you please report the problem to https://github.com/oerdnj/deb.sury.org so that people don't bump into the same issue later this month?

[2021-11-18 10:30] milewski opened #530 "Problems running multiple PHP versions on the same self-hosted runner"
**Describe the bug**

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [ ] GitHub Hosted
- [x] Self Hosted

Hi, I'm facing this issue where I have multiple branches, and each branch is running with a different version of PHP where branch A runs on PHP 8.0 and branch B on 8.1, I only have 1 worker runnin

[2021-11-18 15:31] shivammathur commented on #530
@milewski I added a fix in https://github.com/shivammathur/setup-php/commit/721e4c3367ab494247ed88238303d9978494363c

Please run the PHP 8.0 branch and then run PHP 8.1 branch, and it should work correctly from then on.

[2021-11-18 19:25] Crabcyborg opened #531 "PHPUnit Polyfills appear to no longer be loading properly with this action"
First of all, thank you for this action! It generally works really well. I'm not sure what the issue is, and I'd love your insight here.

**Describe the bug**
I haven't seen anyone else reporting recent issues but it seems like this broke overnight.

I'm seeing the error:
[code]

When our action runs. I have yoast/phpunit-polyfills listed under tools and it was previously working for nearly two mo

[2021-11-19 01:42] shivammathur commented on #531
@Crabcyborg

Please test with only `phpunit-polyfills` in the tools input as it will install the required PHPUnit version.
[code]

[2021-11-19 02:42] jrfnl commented on #531
@Crabcyborg Is you workflow public ? If so, would you mind posting a link to it ?

[2021-11-19 03:07] Crabcyborg commented on #531
@shivammathur thank you, that works great and simplifies the matrix a bit too, nice to know!

@jrfnl yes, the file is here https://github.com/Strategy11/formidable-forms/blob/v5.0.13.1/.github/workflows/phpunit.yml

I'll close this. Not sure why it just started breaking out of the blue though, if there is some sort of bug to still fix somewhere. I'm good though!

Thank you!! 🥳

[2021-11-19 03:07] #531 closed

[2021-11-19 03:11] jrfnl commented on #531
@Crabcyborg You may have missed the blogpost which announced changes to the WP Core test suite. These changes also apply to plugins/themes running integration tests.

I'd highly recommend reading the blogpost and following the advise given there on how to upgrade your test suite. If you still have questions after that, feel free to ping me (here or in WP Slack).

https://make.wordpress.org/core/20

[2021-11-19 03:13] jrfnl commented on #531
@Crabcyborg Oh and you may also want to have a read through this blogpost as the branch name for the WP git default branch has changed: https://make.wordpress.org/core/2021/11/10/default-git-branch-for-wordpress-wordpress-develop/

[2021-11-19 03:32] Crabcyborg commented on #531
That's useful to know, thanks @jrfnl!

As for the polyfill issue that broke for us September 24, 3 days before that blog post. I had implemented the code you see above then, that worked at the time. It only broke again a second time today, ha.

[2021-11-19 03:46] jrfnl commented on #531
Yeah, well, we had to do a very closely coordinated effort to try and do the backports and publish the post around the same time. The whole project took over two months to get approved & committed 😂

Not sure why it broke a second time, may have something to do with the branch rename, may have something to do with a change in your tests only now exposing that the other changes needed hadn't been m

[2021-11-19 03:49] jrfnl commented on #531
P.s.: one thing I already noticed which you'll need to change is the loading order in your test bootstrap: load the `vendor/autoload.php` first and only load the WP test `bootstrap.php` file _after_ that.
Other than that, at the very least, the fixtures will need updating.

[2021-11-19 05:45] milewski commented on #530
Hi @shivammathur, it didn't work...

I run it once with branch A (php8)

![image](https://user-images.githubusercontent.com/2874967/142571544-0b54ddca-84dc-4363-8de5-45f386b3a884.png)

And then when I re-run the branch B (php8.1) this happened:

![image](https://user-images.githubusercontent.com/2874967/142571644-cc96f7bd-18c7-441c-a6ff-26899794b492.png)

[2021-11-19 05:57] shivammathur commented on #530
@milewski
The bug was that on self-hosted runner, the php-dev package was not installed and that was breaking the action. So if there is a branch for say PHP 7.4 run that, same for any other PHP versions 5.6 to 8.0.

or you can run this command, it will install php-dev for all the installed PHP versions and that should fix it.
[code]

[2021-11-19 09:51] milewski commented on #530
I see, Yes it works after I ssh to the GH runner server and install php*-dev for all versions I'm working on.. thanks

[2021-11-19 09:51] #530 closed

[2021-11-19 13:31] Crabcyborg commented on #531
@jrfnl got it, I've changed that around now!

Thanks for your advice here!

[2021-11-19 17:42] PierreRambaud opened #532 "Tools must be added after extensions"
**Describe the bug**

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

**PHP versions**
PHP: 7.4.26, 8.0.13

**To Reproduce**
[code]

**Expected behavior**
Tools sometimes require extensions to be properly installed.

**Screenshots/Logs**
https

[2021-11-19 17:58] shivammathur commented on #532
@PierreRambaud This error is a known issue in today's builds of `ppa:ondrej/php`. https://github.com/oerdnj/deb.sury.org/issues/1682

[2021-11-19 19:14] PierreRambaud commented on #532
@shivammathur The PCRE problem is another one IMHO, but thanks for the link :heart:
Tools require extensions to work properly, so extensions should be added before tools

[2021-11-19 19:25] shivammathur commented on #532
The tools installed by setup-php are not used (except composer) until the action finishes, so it is ok to install the tools first. Also pecl/pear can be installed using the tools input and is required for installing extensions from source.

For supported tools that need specific extensions, those are defined here https://github.com/shivammathur/setup-php/blob/master/src/scripts/tools/add_tools.sh.

[2021-11-19 20:06] shivammathur commented on #532
Added a patch for the PCRE issue in https://github.com/shivammathur/php-ubuntu/commit/a299bf709aa11e53462f703bffe3dba18f46f9b0

[2021-11-19 20:06] #532 closed

[2021-11-20 12:19] PierreRambaud commented on #532
Thank a lot for your answer and your awesome work :wink:

[2021-11-23 15:37] derrabus opened #534 "Setting up OCI8 and PDO_oci extensions fails with PHP 8.1"
**Describe the bug**

On the doctrine/dbal repository, we setup jobs with different database drivers. This does not work at the moment on PHP 8.1 with Oracle drivers. The same job on PHP 7.4 works fine.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating sy

[2021-11-23 15:50] morozov opened #535 "Unable to install oci8 and pdo_oci"
**Describe the bug**

The action fails to install PHP 8.1 with `oci8` or `pdo_oci` due to the failure to install `libaio-dev`.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Linux

**PHP versions**
8.1

**To Reproduce**
[code]

**Expected beh

[2021-11-23 16:40] shivammathur commented on #535
@morozov I added a fix, can you run the workflow again.

[2021-11-23 16:55] shivammathur commented on #535
Fixed in https://github.com/shivammathur/php-builder/commit/5e6b979a31783d1ea2863e85125f00aa5842ad98

[2021-11-23 16:55] #535 closed

[2021-11-23 16:56] shivammathur commented on #534
Fixed in https://github.com/shivammathur/php-builder/commit/5e6b979a31783d1ea2863e85125f00aa5842ad98
Please restart your workflow

[2021-11-23 16:56] #534 closed

[2021-11-23 16:58] morozov commented on #535
It seems working now. Thank you, @shivammathur!

[2021-11-23 17:34] derrabus commented on #534
Wow, that was fast! Thank you very much!

[2021-11-25 20:24] shivammathur commented on #519
Fixed in 2.16.0

Now, It will fail to set up Xdebug when `xdebug2` is specified as the coverage driver on PHP 8.0 and above. Same for `xdebug3` for PHP 7.1 and lower. It will leave an error in the logs.

[code]

If you want your workflow to fail at this error, you can set `fail-fast` environment variable to `true`.

[code]

[2021-11-25 20:24] #519 closed

[2021-11-29 18:46] danepowell commented on #519
Thanks!

[2021-12-07 22:08] hrach opened #536 "sqlsrv installation stopped working on PHP 7.3"
**Describe the bug**
Suddenly installation on sqlsrv extension stopped working on PHP 7.3

**Version**
- [x] `v2`

**Runners**
- [x] GitHub Hosted

**Operating systems**
Linux.

**PHP versions**
7.3

**To Reproduce**
https://github.com/nextras/orm/blob/main/.github/workflows/build.yml

**Expected behavior**
sqlsrv driver is installed

**Screenshots/Logs**
[code]
https://github.com/nextras/orm/runs

[2021-12-07 23:40] shivammathur commented on #536
@hrach
PECL extension versions do not have hyphen in them, so `sqlsrv-5.10.0-beta2` should be `sqlsrv-5.10.0beta2`
Ref: https://pecl.php.net/package/sqlsrv

That aside, I have added a patch to handle this typo in https://github.com/shivammathur/setup-php/commit/a274bd910ac3c4911b8c7859409efa4059fdd2a4

Please restart your workflow, it should work correctly now. [Test workflow](https://github.com/s

[2021-12-07 23:40] #536 closed

[2021-12-08 13:14] driesvints opened #537 "The term 'Get-Php' is not recognized as a name of a cmdlet, function, script file, or executable program"
**Describe the bug**

We sometimes get the following error on Windows:

See https://github.com/laravel/framework/runs/4457465095?check_suite_focus=true

I found https://github.com/shivammathur/setup-php/issues/129 but the above seems directly related to setup-php if I'm correct?

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
-

[2021-12-08 13:15] driesvints opened #538 "PHP Could not setup PHP 8.1"
**Describe the bug**
Since a couple of days we very often get flaky builds with setup-php not being able to setup PHP 8.1 on Ubuntu in GHA. See https://github.com/laravel/framework/runs/4457423227?check_suite_focus=true

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hoste

[2021-12-08 13:20] shivammathur commented on #537
GitHub releases is failing intermittently, so on Windows setup-php is not able to download PhpManager, and that causes the `Get-Php is not recognised` error.

I have created a support ticket, and there is a GitHub discussion thread about this here: https://github.com/github/feedback/discussions/8535

https://status.setup-php.com/incidents/v4v919x59y6q

[2021-12-08 13:26] driesvints commented on #537
Thanks a lot for pointing that out @shivammathur 👍

[2021-12-08 13:49] Aerendir commented on #538
This happens also to me, with any version of PHP, randomly, without apparent reason: simply re running the actions solves the problem (but it then reappears randomly in other repositories in any other action).

[2021-12-08 14:08] driesvints commented on #538
Might be related to https://github.com/github/feedback/discussions/8535

[2021-12-08 14:23] shivammathur commented on #538
I have pushed a patch https://github.com/shivammathur/setup-php/commit/bbba8d75a6d5a197ff362b93c18c9a7174cf8c2d to fix this until it is fixed upstream.

Please restart your workflows and let me know if there are any errors.

[2021-12-08 14:23] shivammathur commented on #537
I have pushed a patch https://github.com/shivammathur/setup-php/commit/bbba8d75a6d5a197ff362b93c18c9a7174cf8c2d to fix this until it is fixed upstream.

Please restart your workflows and let me know if there are any errors.

[2021-12-08 14:34] #537 closed

[2021-12-08 14:35] shivammathur commented on #538
This should be fixed now, let me know if you get the errors again.

[2021-12-08 14:35] shivammathur commented on #537
This should be fixed now, let me know if you get the errors again.

[2021-12-08 14:36] driesvints commented on #537
A retrigger showed that it's now passing. Thanks @shivammathur!

[2021-12-08 14:58] Aerendir commented on #538
Yes, it seems fixed now... Thank you very much!

[2021-12-08 21:04] mfn commented on #537
ho.ly.shoe: you did set up a status page for `setup-php` 😱

[2021-12-09 14:54] hrach commented on #536
Thanks a lot. What I didn't understand:
- why it previously worked: https://github.com/nextras/orm/runs/4110054736?check_suite_focus=true
- why it worked everywhere but PHP 7.3

[2021-12-09 15:12] mikebronner opened #539 "Update PCOV to 1.0.10"
**Describe the bug**
When installing PHP 8.1 and using PCOV as a coverage driver, it is throwing errors when running PHPUnit tests in parallel. There is a fix for this in PCOV 1.0.10, but it appears that this package is installing 1.0.9.

**Version**
- [X] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [X] `v2`
- [ ] `v1`

**Runners**

- [X] GitHub Hoste

[2021-12-09 15:46] shivammathur commented on #539
@mikebronner

I switched to using PECL for pcov in our cache here https://github.com/shivammathur/php-ubuntu/commit/8baf23a8dba9ca785fc541930ed839dba205a15f and it should work now for PHP 8.1, but that is until the GitHub Actions images add PHP 8.1 and those will use PCOV from `ppa:ondrej/php` which has `1.0.9`.

There is already an issue for this here https://github.com/oerdnj/deb.sury.org/issues

[2021-12-09 15:47] mikebronner commented on #539
Thank you @shivammathur ! That is perfect!

[2021-12-09 15:47] #539 closed

[2021-12-14 17:50] haidertm commented on #494
what is `act`?

[2021-12-15 07:02] wrabit opened #541 "Workflow fails - mysql: command not found"
**Describe the bug**
Since around 6 days, our tests are failing after setup at:

[code]

**Version**
I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [x] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu

**PHP versions**
trying 8.0 and 8.1

**To Reproduce**
[code]

**Expected behavior**
The workflow to compl

[2021-12-15 07:43] shivammathur commented on #541
@wrabit

This is a known issue and a fix has been applied, The GitHub Actions images should be updated by next week.
https://github.com/actions/virtual-environments/issues/4732

You can wait, but I would suggest replacing the `sysVinit` with the `systemd` command which would work.
[code]

[2021-12-15 07:43] #541 closed

[2021-12-15 09:04] haidertm commented on #440
where to put that `act` command

[2021-12-15 12:42] asgrim opened #542 "setup-php seems to ignore PECL package version constraints?"
Our build depends on a PECL package that does not yet have a PHP 8.1 release ( see http://pecl.php.net/package/scoutapm ), but somehow the action is installing the PECL package, e.g.:

[code]

Manages to install the `scoutapm` library:

[code]

If I try to install it locally (running PHP 8.1), I am met with an expected error:

[code]

[2021-12-15 13:51] shivammathur commented on #542
Yes, setup-php does ignores the PHP versions warnings. We install extensions by force for the following reasons
- Downgrading an extension when a newer version is already installed requires installing by force.
- To support extensions with pre-release versions of PHP.

In the next release, I will try to think of ways to avoid this for stable PHP versions. Currently, you can fix this in 2 ways for

[2021-12-15 14:31] asgrim commented on #542
That makes sense - thank you!

[2021-12-15 14:31] #542 closed

[2021-12-17 01:15] jnvsor opened #543 "In 8.1+ attempts to create a `Mysqli` instance in fail with a "No such file or directory" exception"
**Describe the bug**
In 8.1+ attempts to create a `Mysqli` instance in fail with a "No such file or directory" exception

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
8.1, 8.2

**Screenshots/Logs**
https://gith

[2021-12-17 02:37] shivammathur commented on #543
@jnvsor

Please start the `mysql` service before you run your tests.
[code]

[2021-12-17 02:45] jnvsor commented on #543
Hi @shivammathur, that didn't help. Logs are attached. [logs_117.zip](https://github.com/shivammathur/setup-php/files/7731735/logs_117.zip)

The tests receive server info in other PHP versions without needing to `sudo systemctl start mysql` (Specifically the `$mysqli->host_info` string)

I also tried adding the service explicitly as below, but it made no difference:

[code]

If you need more info

[2021-12-17 04:10] shivammathur commented on #543
With the service container, you will have to set the `MYSQLI_HOST` with the port.
[code]
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1590635905/workflow

[2021-12-17 04:10] #543 closed

[2021-12-17 06:11] jnvsor commented on #543
Thanks! I'm still not entirely clear how this works and it seems rather inconsistent (eg. the `systemctl` command appears to be necessary for 8.1 but not for 8.0 or 8.2) but it works and that's good enough for me for now

[2021-12-19 10:36] ruudk opened #544 "Disable coverage by default"
**Describe the feature**
First of all, thank you for this amazing action 🙌

Xdebug and PCOV are enabled by default causing a lot of jobs to run slower than needed. This can easily be disabled with `coverage: none`. But the problem is, most people copy the default snippet and don't realize it.

I just discovered that my phpunit job runs 3 minutes faster, composer-require-checker 3 minutes faster an

[2021-12-19 11:57] shivammathur commented on #544
Yes, this is planned for `v3` and is noted in the to-do list we have for it.
https://github.com/shivammathur/setup-php/projects/1#column-6419035

Xdebug is enabled by default in the GitHub Action Ubuntu images, not something that setup-php enables. If you would like that to change, please create an issue in [actions/virtual-environments](https://github.com/actions/virtual-environments).
With v3 if

[2021-12-19 11:57] #544 closed

[2021-12-22 15:57] GrahamCampbell opened #545 "More fine-grained support for picking the composer version"
**Describe the feature**

Pin to a specific major.minor.patch version of composer, or major.minor. Composer 2.2.0 has some regressions, so I'd like to stick with the latest 2.1.x series version.

**Version**
- [ ] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**

**Describe alternatives**

**Additional context**

**Are you willing to su

[2021-12-22 16:07] shivammathur commented on #545
@GrahamCampbell

This is already supported.
https://github.com/shivammathur/setup-php#wrench-tools-support

You can specify the composer's exact semver version `tools: composer:2.1.14` or `major.minor` version `tools: composer:2.1`.
If you use `major.minor` notation for the version, please specify `COMPOSER_TOKEN` environment variable using the `GITHUB_TOKEN` secret to avoid rate GitHub API rate l

[2021-12-22 16:07] #545 closed

[2021-12-22 16:09] GrahamCampbell commented on #545
So it is! Thanks. ❤️

[2021-12-23 22:17] stof opened #546 "The action is a lot slower on macOS than on Linux or Windows"
**Describe the bug**
The setup-php runs a lot slower on macOS than on Windows and Linux.
The setup-php action took a few seconds on Ubuntu, 28s on Windows and 1m27s on macOS.

It might make sense to investigate whether the performance can be improved there.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

[2021-12-24 04:08] shivammathur commented on #546
Yes, there are 2 reasons for that
- The macOS runners are hosted on 3-core 64-bit Ivybridge which is around 2012 hardware and is very slow, if you use a self-hosted runner on newer hardware, it can be a lot faster.

- We use a cache for PHP builds on Ubuntu, so the setup turns into a single fetch, extract and configure operation which is a lot faster than installing all the packages using `apt`. I

[2021-12-24 04:08] #546 closed

[2021-12-25 04:06] justlevine commented on #541
@shivammathur would the same fix work with your (act docker image)[https://github.com/shivammathur/node-docker]?

Not sure if im running into this issue or a different one, but neither `sudo /etc/init.d/mysql start` nor `sudo systemctl start mysql`  seem to be working:

![image](https://user-images.githubusercontent.com/29322304/147377148-bdd9bfa7-fe76-49ef-ae48-ff0571840cb7.png)

[2021-12-25 13:22] shivammathur commented on #541
@justlevine I have fixed the `shivammathur/node` images, pull the image you use first, and then run `act`.

[2021-12-27 15:17] asgrim opened #548 "Failing to install Composer does not result in a failed build step"
**Describe the bug**
Due to some GitHub Actions issues today, I noticed that if Composer fails to install (`✗ composer Could not setup composer` is shown in the Action's step output), `setup-php` does not actually fail the step. Subsequently, when a future action tries to use `composer`, it receives an error:

[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patc

[2021-12-27 16:32] shivammathur commented on #548
Please set `fail-fast` as `true` to make sure it exits on any errors.
This is documented in tools support section in the last point.
https://github.com/shivammathur/setup-php#wrench-tools-support

[code]

In the next release, this will fail by default for `composer`, but to fail for other tools and extensions you will still need to set `fail-fast` to `true`.

[2021-12-27 16:32] #548 closed

[2021-12-27 16:46] asgrim commented on #548
Ah, thank you, I had missed that. IMO it should be the default for any failures to fail fast, as it is odd for something to fail but not show failure. Thank you though, I'll make sure to use that always going forward.

[2021-12-27 16:54] shivammathur commented on #548
This is done as some extensions and tools are specific to one OS and they leave graceful errors in the logs by default when they fail to set up. This makes it easier to create multi-OS workflows.

[2021-12-30 08:36] ruudk opened #549 "ComposerRequireChecker broken since 2.16.0"
**Describe the bug**
Since a day we notice that ComposerRequireChecker doesn't work properly anymore.

This might be related to this commit: https://github.com/shivammathur/setup-php/commit/d0696f9f8bc3b0456d759159fadc1bb4f31f1e10

[code]

**Version**
- 2.16.0

**Runners**
- [x] GitHub Hosted

**Operating systems**
Ubuntu 20.04

**PHP versions**
PHP 8.0

**To Reproduce**
[code]

**Expected behavio

[2021-12-30 19:04] shivammathur commented on #549
@ruudk
We switched to using the phar for `composer-require-checker` as there were some conflicts with other tools while installing it globally. I think the phar requires an absolute path for the config file.

After https://github.com/shivammathur/setup-php/commit/f24f33ea89cd007c2f0cbdcfdb3f95f707821364, We now scope the packages correctly to avoid conflicts and I now `composer-require-checker` is

[2022-01-02 08:50] ruudk commented on #549
It works indeed. Thank you :)

[2022-01-02 08:50] #549 closed

[2022-01-05 09:04] bucchi-kitamura opened #550 "Could not install phalcon4"
**Describe the bug**
Here is the output result in debug mode

[code]

I have confirmed that this commit was fine.
https://github.com/shivammathur/setup-php/commit/75988cd9be5d90352d7c4cb2e9396dbdcc85e092

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating s

[2022-01-05 10:00] shivammathur commented on #550
Thanks for reporting this.

Fixed in https://github.com/shivammathur/setup-php/commit/da0e8547371daac1784abb79f9bb2af76dcdfaf0

Please restart your workflow.

[2022-01-05 10:00] #550 closed

[2022-01-05 12:41] bucchi-kitamura commented on #550
Thank you for responding!

[2022-01-06 08:49] benblub opened #551 "execute phpunit 9.5.11 in Github actions"
**Describe the bug**
Since 2022-01-04 evening without any code changes when i run php bin/phpunit it failed in Github actions. I checked the dir where the command is executed and its in root dir where composer.json is listed and phpunit is allready installed. And before it was working.
Error Output
[code]

A fix is running instead `php vendor/bin/phpunit`

**Version**
- [ ] I have checked releases

[2022-01-06 09:04] shivammathur commented on #551
Composer installs all packages in the `vendor` directory, so the correct path for PHPUnit would be `vendor/bin/phpunit`. Not sure why `bin/phpunit` was working unless you have PHPUnit in your repository in the bin directory.

Please provide a link to your workflow, if it is a private repository, please create a test repo to reproduce the error and provide the link.

[2022-01-06 10:47] benblub commented on #551
ok i will take a look later to get the time to create some reproducer repo.

[2022-01-06 11:13] benblub commented on #551
https://github.com/benblub/workflow-phpunit-bug-reproducer/runs/4726226312?check_suite_focus=true

@shivammathur

[2022-01-06 11:31] shivammathur commented on #551
Your test repo needs composer.json file to install all the dependencies. Use the one you have in your project

Also if you have a bin directory add that also to the test repo.

[2022-01-06 14:09] shivammathur commented on #551
Also, in your test workflow add a ` actions/checkout` step before `setup-php` step.

[code]

[2022-01-06 14:33] benblub commented on #551
Thanks. Yes i missed some steps.

https://github.com/benblub/workflow-phpunit-bug-reproducer/runs/4727978865?check_suite_focus=true

Its getting more understandable for me now. `php bin/phpunit` execute the phpunit script provided by symfony. And it installs phpunit in bin folder and not in "vendor".

And with that in an Symfony App where other Symfony Services are running it appears this problem.

[2022-01-06 14:47] benblub commented on #551
But one of the Questions is why happens this on CI and not on in my local docker Container? I will try later to add more Code which reproduces the error which happened on the private repo.

[2022-01-09 08:37] ruudk opened #552 "Could not install memcached from source - memcached does not have a PHP extension"
**Describe the bug**
When trying to install `memcached-php-memcached-dev/php-memcached@master` I get:
[code]

**Version**
- latest version

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu 20.04

**PHP versions**
8.0.13

**To Reproduce**
[code]

**Expected behavior**
No error

I think this code might not be correct:
https://github.com/shivammathur/setup-php/blob/a34

[2022-01-09 08:42] ruudk commented on #552
I should have used CSV instead of Spaces as delimiter. Sorry about that, I was using a script that generated this list.

[2022-01-09 08:42] #552 closed

[2022-01-09 12:52] ruudk opened #553 "Installing extensions from PECL is not working when disabling all extensions first"
**Describe the bug**
I use the following config:
[code]

As you can see, I disable all extensions first, and then enable `igbinary` and `msgpack` (as the bundled memcached extension seems to use that), and then I choose not the latest memcached version but one before that, to trigger a PECL install.

I'm using `@verbose`, but no valuable error is logged.

**Version**
- v2

**Runners**

- [x] GitHu

[2022-01-09 13:32] shivammathur commented on #553
On GitHub runners `memcached-3.1.5` should already be installed, so you can use that instead of `memcached-3.1.4`.
[code]

The error here is because PECL requires `xml` extension and if you add that then it will fail because it won't be able to find libmemcached. This can be improved and I will look into it.

Currently, If you want to use `memcached-3.1.4` you can install it using the source API o

[2022-01-09 13:32] #553 closed

[2022-01-09 14:28] ruudk commented on #553
Ah it was xml! How did you find out? As it's not visible in the logs, right?

[2022-01-09 14:38] shivammathur commented on #553
It is there in the logs after all the warnings "XML Extension not found"
https://github.com/ruudk/setup-php-reproducers/runs/4753170961?check_suite_focus=true#step:3:1265

[2022-01-09 14:40] ruudk commented on #553
Sorry, I didn't notice because of all the noise. Thanks, I'll try to search for `extension` next time. Thanks for helping me out 💙

[2022-01-11 03:52] shivammathur commented on #551
Updating the `phpdocumentor/type-resolver` package to use the latest `1.6.0` should fix this

https://github.com/phpDocumentor/TypeResolver/issues/148

[code]

[2022-01-11 03:52] #551 closed

[2022-01-11 05:47] heyanlong commented on #357
[code]
Got
[code]
So.
[code]

[2022-01-11 05:53] shivammathur commented on #357
After we added pdo_sqlsrv, that adds `pdo_sqlsrv.report_additional_errors` to phpinfo which broke this.
Change it to
[code]

[2022-01-12 13:05] Moser-ss opened #554 "Unable to load dynamic library in Self Hosted Runner"
**Describe the bug**
When I am setting up the PHP in a SelfHosted runner I got this Warning message
`PHP Warning:  PHP Startup: Unable to load dynamic library ` to multiple libraries.
When I check inside of the Runner the file exists with the following permission
[code]

This issue doesn't happen in the GitHub Hosted Runner, so I don't know if is a permissions issue because the runner in the self-

[2022-01-12 13:35] shivammathur commented on #554
For self-hosted runners please specify the `runner` environment variable as `self-hosted`. Also please start with a clean container.

[code]

Docs: https://github.com/shivammathur/setup-php#self-hosted-setup

[2022-01-12 13:35] #554 closed

[2022-01-19 16:24] LlZARD opened #555 "sudo: command not found"
**Describe the bug**
Setup breaks with following output:

[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
7.4

**To Reproduce**
[code]

[2022-01-19 18:41] shivammathur commented on #555
Please specify the `runner` environment variable as `self-hosted`.

https://github.com/shivammathur/setup-php#self-hosted-setup

[code]

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1719652095/workflow

[2022-01-19 18:41] #555 closed

[2022-01-19 19:31] LlZARD commented on #555
Thanks a lot.

[2022-01-20 01:44] kpadil17 opened #556 "Composer Failed"
**Describe the bug**
Hi,

I need help, my composer dependencies are not installing because of some missing or unenabled extensions.

Thank you!

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [ ] GitHub Hosted
- [x] Self Hosted

**Operating systems**
Linux

**PHP versions**
7.4.27

**To Reproduce**
[c

[2022-01-20 01:47] shivammathur commented on #556
Try adding `zip` to the extensions input of setup-php

[2022-01-20 02:05] kpadil17 commented on #556
Awesome, it worked. Thank you!

[2022-01-20 02:05] #556 closed

[2022-01-21 02:24] GrahamCampbell opened #557 "sodium not working"
**Describe the bug**

[code]

Does not seem to install sodium, or at least, what it does install is not linked/compiled against the newest version, and is missing functions.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

Ubuntu 20.01

**PHP

[2022-01-21 02:30] #557 closed

[2022-01-21 02:30] GrahamCampbell commented on #557
My bad. This function only exists on PHP 8.1.

[2022-01-23 05:27] SharkMachine opened #558 "PHPUnit code coverage error"
**Describe the bug**

Defining filter for code coverage gives the following error:

[code]

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
ubuntu-latest

**PHP versions**
7.4, 8.0, 8.1

**To Reproduce**
https://github.com/SharkMachine/xmlsecli

[2022-01-23 09:04] shivammathur commented on #558
Possibly an issue with PHPUnit phar.

As a workaround, you can install it using composer instead of phar by specifying the whole packagist name.

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1735463587/workflow

[code]

[2022-01-23 09:04] #558 closed

[2022-01-23 09:21] SharkMachine commented on #558
Thanks for the workaround.

[2022-01-23 09:27] SharkMachine commented on #558
https://github.com/sebastianbergmann/phpunit/issues/4871

[2022-01-25 06:43] #506 closed

[2022-01-25 06:43] #508 closed

[2022-01-25 06:43] #509 closed

[2022-01-25 06:43] #510 closed

[2022-01-28 20:20] terabytesoftw opened #559 "Php version on ubuntu is not updated to php 8.0.15 using env: update: true"
**Describe the bug**
Php version on ubuntu is not updated to php 8.0.15 using env: update: true
**Version**
- [x] `v2`

**Runners**

- [x] GitHub Hosted

**Operating systems**
ubuntu.

**PHP versions**
8.0

**To Reproduce**
- name: Install PHP with extensions
  uses: shivammathur/setup-php@v2
  with:
    php-version: ${{ matrix.php }}
    extensions: ${{ env.extensions }}
    ini-values: date.time

[2022-01-28 21:01] shivammathur commented on #559
PHP 8.0 is `8.0.14` on `ppa:ondrej/php`. Once updated on the PPA I will refresh the cache we have. Please report this [here](https://github.com/oerdnj/deb.sury.org)

[2022-01-28 21:14] #559 closed

[2022-01-28 21:22] villfa opened #560 "Tools: add support for Churn-PHP"
**Describe the feature**
It would be great to be able to install [Churn-PHP](https://github.com/bmitch/churn-php) like the other tools.

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Underlying issue**
It will make the installation of Churn even easier for its users.

**Are you willing to submit a PR?**
Yes, I am. Here: #561

[2022-01-30 19:49] shivammathur commented on #559
It should be `8.015` now.

[2022-02-03 20:37] Stoyvo commented on #559
@shivammathur Please revert to PHP 8.0.14, or provide a way to use a patch version. PHP 8.0.15 has an issue with SplFileObjects, it's fixed in php-8.1.3RC1, php-8.1.2, php-8.1.2RC1, php-8.0.16RC1, php-8.0.15, php-8.0.15RC1:
https://github.com/php/php-src/commit/daf79e2d91dc4dd47f516229ebc5922ad35f27ab

[2022-02-08 13:10] #560 closed

[2022-02-08 14:52] shivammathur commented on #450
Added support for `ini-file` input in `2.17.0` release.

This will allow changing the base php.ini file to the development one. The default is still production and we will change it to development in `v3`.

https://github.com/shivammathur/setup-php/releases/tag/2.17.0

[2022-02-08 18:19] martijngastkemper opened #562 "Action breaks actions/setup-node"
**Describe the bug**
When installing PHP after installing Node the previously installed Node version isn't available anymore.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu 18.04

**PHP versions**
I've tested 7.4 and 8.1.

**To Reproduc

[2022-02-08 19:37] shivammathur commented on #562
@martijngastkemper

Fixed in https://github.com/shivammathur/setup-php/commit/a72a638da42bc48de8bd8028b0e36fa6f66151cc

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1814299152/workflow

[2022-02-08 19:37] #562 closed

[2022-02-08 21:48] ChrisHardie opened #563 "Recent changes break availability of composer-installed command?"
**Describe the bug**

I see that some recent changes may affect how composer commands work. Just today I tried an action that failed where it didn't fail a few days ago:

[code]

Noting it here in case it's related and/or others encounter the same.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] Gi

[2022-02-08 22:04] shivammathur commented on #563
@ChrisHardie

Fixed in https://github.com/shivammathur/setup-php/commit/7854a0cae7fa7a5f3feac66d27bae2dc42d1067a

Please restart your workflow and it should work.

[2022-02-08 22:04] #563 closed

[2022-02-09 08:50] martijngastkemper commented on #562
Thanks for the quick reply and fix.

[2022-02-10 22:59] stronk7 opened #564 "Incorrect openssl.cnf location for PHP 7.3 images"
**Describe the bug**
PHP with openssl comes with the following default paths to locate the (mandatory for some operations), openssl.cnf file:

* PHP 7.4 and up:
    * C:\Program Files\Common Files\SSL\openssl.cnf (x64)
    * C:\Program Files (x86)\Common Files\SSL\openssl.cnf (x86)
* prior to PHP 7.4.0, C:\usr\local\ssl\openssl.cnf.

(source: [PHP Manual: OpenSSL >Installing/Configuring](https://w

[2022-02-11 18:12] shivammathur commented on #564
@stronk7 I transferred this issue to `setup-php`.

This is fixed in https://github.com/shivammathur/setup-php/commit/9ed025ec54f58ef5fbcdbf0a199ccb1524a84dda.
Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1830819859/workflow

It will be in the next setup-php release.

[2022-02-11 18:44] mlocati commented on #564
PS: I also am working on it: https://github.com/mlocati/powershell-phpmanager/commits/fix-openssl_conf-path

(No ETA though)

[2022-02-11 18:56] shivammathur commented on #564
@mlocati That looks great, will use it once released.

[2022-02-11 19:16] stronk7 commented on #564
Heap thanks, @shivammathur & @mlocati !

[2022-02-12 18:45] mlocati commented on #564
I've just published a new version of Powershell PhpManager (1.26.0).
It comes with a new function (`Set-OpenSSLConf`) that can be used to set the `OPENSSL_CONF` environment variable, with the value of the path to a `openssl.cnf` file.

[code]

PS: PHP comes with a sample `openssl.cnf` file. If you omit the `Path` parameter, and if the directory containing the installed `php.exe` is listed in the `

[2022-02-12 21:46] Jeckerson opened #565 "Could not setup PHP 7.0 on Ubuntu"
**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu

**PHP versions**
7.0

**To Reproduce**
https://github.com/zephir-lang/php-zephir-parser/runs/5169829161?check_suite_focus=true

[2022-02-12 21:59] shivammathur commented on #565
@Jeckerson Please try restarting the workflow, must be a network issue in fetching the build.

[2022-02-12 22:03] shivammathur commented on #564
Added support in 7ad352e12a8456ffb4b93ed8bcccff35b8738fe8

[2022-02-12 22:06] #565 closed

[2022-02-15 17:17] mustafo opened #566 "Could not setup composer"
**Describe the bug**
The acton fails with following error:

[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**
- [ ] GitHub Hosted
- [x] Self Hosted

**Operating systems**
Ubuntu

**PHP versions**
8.0

**To Reproduce**
[code]

**Expected behavior**
composer is installed in self-hosted runner and comp

[2022-02-15 17:28] shivammathur commented on #566
Please configure passwordless sudo in your self-hosted runner and restart your workflow.
Docs: https://github.com/shivammathur/setup-php/wiki/Requirements-for-self-hosted-runners#linuxwsl

[2022-02-15 19:38] mustafo commented on #566
It worked, thanks!

[2022-02-15 19:39] #566 closed

[2022-02-22 04:04] GustavoSD commented on #61
How can I translate this to a brew command? I want to install MySQL and SQlite pdos. I'm a new mac user.

[2022-02-22 04:31] Finesse commented on #61
@GustavoSD Use MAMP

[2022-02-22 04:38] GustavoSD commented on #61
@Finesse Thanks for the advice, doing it right now!

[2022-02-22 11:17] jeherve opened #567 "Issues with PHP 5.6: unable to load library sqlsrv.so"
**Describe the bug**

When setting PHP 5.6 via the action, one runs into the following error:

[code]

This started happening less than 24 hours ago, this wasn't an issue before.

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [x] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

* ubuntu-latest

[2022-02-22 11:51] shivammathur commented on #567
@jeherve

`sqlsrv` and `pdo_sqlsrv` are not supported on PHP 5.6
Ref: https://github.com/microsoft/msphpsql/issues/819

[2022-02-22 11:51] #567 closed

[2022-02-22 11:53] jeherve commented on #567
Thanks for the quick response!

Do you happen to know why `shivammathur/setup-php@v2` did not throw such errors when installing PHP 5.6 yesterday, but does today?

[2022-02-22 12:03] shivammathur commented on #567
@jeherve Fixing this, the builds cache was misconfigured to add these extensions to PHP 5.6.

[2022-02-22 12:36] jeherve commented on #567
It works for me too, thanks a lot for the quick fix!

[2022-02-24 16:56] Kocal opened #568 "Unable to use the new Symfony CLI"
**Describe the bug**

When using `tools: symfony-cli`, we can't use the command `symfony` because of a symbolic link issue:
[code]

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**

Ubuntu 20.04.3

**PHP versions**

PHP 8.0.15

**To Reproduce**

[2022-02-24 17:04] Kocal commented on #568
Also opened the issue on Symfony CLI repository: https://github.com/symfony-cli/symfony-cli/issues/105

[2022-02-24 17:23] shivammathur commented on #568
@Kocal
I could not reproduce the issue.
https://github.com/shivammathur/test-setup-php/runs/5322510677?check_suite_focus=true

Try restarting your workflow, and if it fails again try it with `shivammathur/setup@verbose` and provide me the logs.

[2022-02-24 17:35] Kocal commented on #568
Hum that's working now, maybe that was just a temporary issue, or it has been fixed upstream.

Thanks anyway!

[2022-02-24 17:37] #568 closed

[2022-02-24 17:37] shivammathur commented on #568
Closing now, open reopen if this happens again

[2022-02-25 21:39] Jamesking56 opened #569 "Sudden pecl errors with self-hosted runner"
**Describe the bug**

My actions workflow on a self-hosted runner has started spitting out new pecl errors all of a sudden in PHP 8.0

**Version**
- [x] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [ ] GitHub Hosted
- [x] Self Hosted

**Operating systems**

Ubuntu 20.04 LTS

**PHP versions**

PHP 8.0

**To Reproduce*

[2022-02-25 21:44] Jamesking56 commented on #569
Just turned off my self-hosted runner and it appears to work fine with GitHub's hosted runners.

I did notice though that the patch version of PHP 8.0 has been upgraded tonight in my runner, which may explain what has happened:

GitHub Hosted Runners: PHP 8.0.15
My Runner: PHP 8.0.16

Is there a way you can verify that the issue is potentially caused by PHP 8.0.16?

[2022-02-25 21:59] shivammathur commented on #569
@Jamesking56, I will try to fix this situation in the next release, can you try installing `php8.0-dev` on your runner and run `setup-php` again.

[code]

[2022-02-25 22:00] Jamesking56 commented on #569
@shivammathur That was one of the first things I tried to debug and the same errors occur

[2022-02-25 22:03] shivammathur commented on #569
@Jamesking56 ok, what is the output when you run

[code]

[2022-02-25 22:05] Jamesking56 commented on #569
@shivammathur

[code]

[2022-02-25 22:07] Jamesking56 commented on #569
@shivammathur Just re-ran the workflow to see what happens and this is the output now:

[code]

Composer 2.2.7 already exists in my runner

[2022-02-25 22:14] shivammathur commented on #569
Please remove `/etc/php/8.0/cli/conf.d/99-pecl.ini`.
Not sure why this is a symlink. It should be an ini file that is symlinked in other SAPI.

Also, make sure you have set up passwordless-sudo.
https://github.com/shivammathur/setup-php/wiki/Requirements-for-self-hosted-runners#linuxwsl

Then, can you try running with `shivammathur/setup-php@verbose` and provide me the logs.

[2022-02-25 22:43] Jamesking56 commented on #569
@shivammathur Thanks for your help investigating this.

Passwordless sudo is already setup on my runner.

I've just run the verbose tag of your action and this is the output:

[code]

[2022-02-25 22:59] shivammathur commented on #569
Your PHP setup seems to be working now.
Whenever you have some time, I added more logging to the verbose tag, please restart your workflow with it and provide me the logs.

[2022-02-25 23:14] Jamesking56 commented on #569
@shivammathur Run again and this is the log:

<details>
<summary>Raw Logs from GitHub Actions workflow run</summary>

[code]

</details>

[2022-02-25 23:24] shivammathur commented on #569
Thanks

what is the output when you run this with sudo and without sudo
[code]

[code]

[2022-02-25 23:33] Jamesking56 commented on #569
@shivammathur These both output exit code 0

[2022-02-28 16:38] shivammathur commented on #569
I'm not sure why checking the composer phar fails in the action and works when you run the command. Does your runner run with a different user?

If you can reproduce this in a dockerized self-hosted runner. I can have a look.

[2022-02-28 16:38] #569 closed

[2022-03-01 15:37] shivammathur commented on #564
Added in `2.17.1`.

[2022-03-01 15:37] #564 closed

[2022-03-01 19:09] stronk7 commented on #564
I can confirm that, now, previous PHPUnit runs affected by this (PHP 7.3) are now passing perfectly.

Link: https://github.com/stronk7/moodle/runs/5378218227
(note that there are still a couple of failures there, but they are unrelated, the SSL ones are now gone)

Heap thanks!

[2022-03-03 17:00] SpacePossum opened #570 "Support `patch` versions in matrix"
**Describe the feature**
Support `patch` versions in matrix

**Version**
- [x] I have checked releases, and the feature is missing in the latest patch version of `v2`.

**Additional context**
Hi all,
Not sure if I'm at the right spot, so please bare with me :sweat_smile:
What I would like to do is to test with a specific PHP patch version in a matrix. This is partially helpful when testing if your

[2022-03-03 17:32] shivammathur commented on #570
I understand the need for this, but I'm sorry, currently, support for this cannot be added.
It would require maintaining builds of each patch release for all the supported versions and operating systems, which would be a huge task and with the current funding would not be possible.

Duplicate https://github.com/shivammathur/setup-php/discussions/453, https://github.com/shivammathur/setup-php/issue

[2022-03-03 17:32] #570 closed

[2022-03-03 17:43] SpacePossum commented on #570
Thanks for the quick reply :+1:  I understand, sometimes something that might be good is just to much of a cost for the maintainers

[2022-03-06 23:22] cjunge-work opened #572 "`switch_version` doesn't change php-fpm"
**Describe the bug**
Setting the desired version in the action doesn't switch php-fpm. The default seems to be php8.1 currently, but if I choose 7.4, then alternatives php-fpm isn't updated to php7.4-fpm.

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating

[2022-03-07 03:02] shivammathur commented on #572
Thanks for reporting this.
Fixed in https://github.com/shivammathur/setup-php/commit/e81b2b53c40cde45d4206cda468d37d5c1499de2 and https://github.com/shivammathur/php-ubuntu/commit/9e6839a417e90567720421b16cef8ff5a08d211c

[2022-03-08 12:24] ondrejmirtes opened #574 "Running again with older PHP version doesn't rewrite php in PATH"
**Describe the bug**

I need to run setup-php multiple times in a single pipeline. I first need to downgrade code with Rector which requires PHP 8.0 and then I need to test that downgraded version on the actual supported PHP version 7.x.

Somewhere between March 6th and 7th, this stopped working. The `php` version is still 8.0 even after running `setup-php` for a lower PHP version.

I've created a

[2022-03-08 13:36] shivammathur commented on #574
@ondrejmirtes
Sorry for the regression.
Fixed in https://github.com/shivammathur/php-ubuntu/commit/5f9565dc6490c163d94bb8187990d2670dd216d7

[2022-03-08 13:36] #574 closed

[2022-03-08 13:42] ondrejmirtes commented on #574
Thank you. I confirm it works now :)

[2022-03-09 15:19] ruudk opened #575 "Always install additional extension libs when given"
I see that setup-php can automatically [install additional libs](https://github.com/shivammathur/setup-php/wiki/Add-extension-from-source#add-required-libraries-for-the-extension).

But it appears that this is only picked up when building from source.

Right now, I'm trying to install https://pecl.php.net/package-info.php?package=memcached&version=3.2.0RC2 from PECL and that fails because it needs

[2022-03-09 23:27] shivammathur commented on #575
Added support in https://github.com/shivammathur/setup-php/commit/e9884d0d9ae42170c76ccbc614fdf2f6081e2f8a
Will be in the next release.

Test workflow: https://github.com/shivammathur/test-setup-php/actions/runs/1960085437/workflow

[2022-03-14 15:52] thewoods96 commented on #569
Seems we're having the same trouble(but with v7.4);

[code]

The issues appeared suddenly as well, however it seems to be intermittent? If we re-run the workflows a few times we'll eventually get a good result, every other time we just get what i've included above.

Couldn't really see a solution from the thread above, @shivammathur please let me know if there's any known fix/workaround and i'll t

[2022-03-14 15:57] shivammathur commented on #569
There is a fix in the develop branch. Please wait for the next release. I plan to do that tomorrow

[2022-03-15 09:16] thewoods96 commented on #569
Fantastic, I'll keep an eye out and let you know if there's any further issues. Thanks for the fix and quick response 🚀

[2022-03-21 13:45] ruudk commented on #575
@shivammathur Thank you so much! Any ETA for that release?

[2022-03-21 14:29] shivammathur commented on #575
@ruudk I was very busy last week. Will try to do it tomorrow.

[2022-03-22 14:40] shivammathur commented on #575
Released `2.18.0` with support.
Docs: https://github.com/shivammathur/setup-php/wiki/Add-extension-from-PECL-with-libraries-and-custom-configuration

[2022-03-22 14:41] #572 closed

[2022-03-22 14:41] shivammathur commented on #569
@thewoods96
Sorry for the delay. Released `2.18.0` with the fix.

[2022-03-22 15:20] ruudk commented on #575
I just tested it and it works great:

[code]

but when I do the same for `rdkafka` it does not:
[code]

Could it be that the `*_LIBS` are skipped when no version is specified?

[2022-03-23 07:24] ruudk commented on #575
@shivammathur It works 👏 Thanks 💙

[2022-03-23 08:45] thewoods96 commented on #569
Yepp can confirm that i'm no longer seeing the same issues. Thanks again!

[2022-03-27 16:08] ondrejmirtes opened #578 "Suggestion - install 7-Zip on Windows by default to make Composer faster"
I'm trying to solve a problem where Composer is several times slower on Windows. For example, on Ubuntu it takes 5-7 seconds to install the dependencies without cache.

On Windows it takes over a minute.

I don't know what's the underlying issue, but the creator of Composer (Jordi Boggiano) suggested we might try installing 7-Zip on Windows to speed it up.

I don't know how to install it in CLI wh

[2022-03-27 16:21] ondrejmirtes commented on #578
Oh nevermind, it's probably installed already and Composer is still slow: https://github.com/actions/virtual-environments/blob/main/images/win/Windows2022-Readme.md#tools

[2022-03-27 16:21] #578 closed

[2022-03-31 10:30] thegillou opened #581 "Could not setup symfony-cli"
**Describe the bug**
When using `tools: symfony`, the symfony-cli couldn't be setup.
Here is the error when I run the step with `shivammathur/setup-php@verbose`:
[code]

**Version**
- [ ] I have checked releases, and the bug exists in the latest patch version of `v1` or `v2`.
- [x] `v2`
- [ ] `v1`

**Runners**

- [x] GitHub Hosted
- [ ] Self Hosted

**Operating systems**
Ubuntu:latest

**PHP versi

[2022-03-31 11:10] shivammathur commented on #581
I could not reproduce the issue
https://github.com/shivammathur/test-setup-php/actions/runs/2070594226/workflow

Please provide a link to your failing workflow run, if it is a private repo please create a minimal test public repo to reproduce this and share the link.

[2022-03-31 12:44] thegillou commented on #581
I created a public repo but I can't reproduce the error too:
https://github.com/thegillou/shivammathur-debug/runs/5770961011?check_suite_focus=true

Here the raw log where you can see the error at the end :+1:
[code]